@charset "utf-8";
* { padding: 0; margin: 0;}
body { font: 12px/1.5 "\5b8b\4f53", Arial,Verdana; color: #333; background:#ffffff;}
img { border: none;}
li { list-style: none;}
a { text-decoration: none; cursor: pointer; color: #333;}
button { cursor: pointer; border: none;}
input { border: none;}

.red { color: #F00;}

.clear:after, .box:after { clear: both; content:"."; display: block; height: 0; overflow: hidden; visibility:hidden;}
.clear { clear: both;}
.focus { box-shadow:0 0 5px rgba(0, 0, 0, 0.2)}
.box { width: 1200px; margin: 0 auto;}


.textarea_l { width: 398px; height: 100px; border: 1px #CCCCCC solid;}
.textarea_pe { width: 98%; height: 100px; border: 1px #CCCCCC solid;}



/*顶部信息*/
.head { padding-top: 5px; height: 80px; background: url(../images/white.png) repeat; border-bottom: 2px #ff5f2b solid;}

.topInfo { height: 30px; background: #ff5f2b; font-family: "microsoft yahei"; font-size: 14px;}


.loginInfo { float: right; height: 30px; line-height: 30px;}
.loginInfo a, .loginInfo span { color: #FFF; margin: 0 10px;}



.logo { 
	width: 316px; 
	height: 50px; 
	background: url(../images/logo.png) no-repeat; 
	text-indent: -999px; 
	overflow: hidden;
	float: left;
	margin-top: 6px;
}
.logo a { width: 316px; height: 50px; display: block;}
.search {
	float: left;
	margin: 10px 0 0 60px;
	position: relative;
}
.search_box {
	width: 440px;
	border: 3px #ff5f2b solid; 
	line-height: 30px;
	overflow: hidden;
}
.search_box input { 
	width: 343px; 
	height: 30px;
	line-height: 30px;
	padding: 0 5px; 
	background: rgba(255,255,255,0.7); 
	display: inline-block;
	color: #999;
	float: left;
}
.search_box button { 
	background: #ff5f2b; 
	color: #FFF; 
	width:87px; 
	height: 30px; 
	text-align: center; 
	font-size: 14px; 
	display: inline-block;
	float: left;
}
.search .hotwords { padding: 5px 0; font-family: "microsoft yahei";}
.search .hotwords a { color: #999; margin: 0 5px;}
.search .hotwords a:hover {color: #ff5f2b; text-decoration: underline;}

.suggest_container { 
	width: 351px; 
	position: absolute; 
	top: 33px; 
	left: 3px; 
	background: #FFF;
	border: 1px #CCCCCC solid;
	border-top: 0px;
	z-index: 10000;
	display: none;
}
.suggest_container a { height: 32px; line-height: 32px; display: block; padding: 0 10px;}
.suggest_container a:hover, .suggest_container a.hover { background: #f8f8f8;}


.phone { width: 200px; height: 40px; font-size: 0; float: left; margin: 15px 0 0 60px;}

.shoppingCart { float: right; margin-top: 10px; position: relative;}
.sCart_h { position: relative; width: 75px; padding: 5px;}
.sCart_h i { 
	width: 40px; 
	height: 34px; 
	display: inline-block; 
	background: url(../images/icons.png) no-repeat -18px -6px;
}
.sCart_h em { 
	width: 11px; 
	height: 7px; 
	display: inline-block;
	position: absolute;
	bottom: 9px;
	left: 55px;
	background: url(../images/icons.png) no-repeat 0px -60px;
}
.sCart_h_hover em { 
	width: 11px; 
	height: 7px; 
	display: inline-block;
	position: absolute;
	bottom: 9px;
	left: 55px;
	background: url(../images/icons.png) no-repeat -21px -60px;
}
.sCart_h span {
	position: absolute; 
	top: 5px; 
	left: 45px; 
	display: inline-block; 
	background: #ff5f2b; 
	border-radius: 10px;
	color: #FFF;
	padding: 0px 5px;
}
.sCart_b {
	display: none;
	background: #FFF; 
	box-shadow: 0 0 2px rgba(0,0,0,0.3); 
	padding: 10px;
	position: absolute;
	right: 0px;
	top: 40px;
	width: 320px;
	z-index: 10;
	border: 1px #eee solid;
}

/*--新 购物车---*/
.mini_cart_hd { padding: 10px 0; font-weight:bold;}
.mini_cart_bd { border-bottom: 1px #eee solid; overflow: hidden;}
.mini_cart_bd li { margin-bottom: 10px; height: 62px; overflow: hidden;}

.mini_cart_img { 
	float: left; 
	margin-right: 10px; 
	width: 62px; 
	height: 62px;
	display: inline-block;
	overflow: hidden;
	text-align: center;
}
.mini_cart_img a { border: 1px #fff solid; width: 60px; height: 60px; display: inline-block; font-size: 0;}
.mini_cart_img a:hover { border: 1px #eee solid;}
.mini_cart_img img { width: 60px; height: 60px; vertical-align: middle;}

.mini_cart_title { width: 150px;  line-height: 18px; overflow: hidden; float: left;}
.mini_cart_title a {
	display: inline-block;
}
.mini_cart_title a:hover { color: #ff5f2b;}

.mini_cart_info {
	float: right;
	height: 62px; 
	overflow: hidden; 
	color: #666;
}
.mini_cart_info p { display: block; color: #ff5f2b; font-weight: bold; text-align: right;}

.mini_cart_ft { text-align: right; padding: 10px 0px 0 10px; overflow: hidden;}

.mini_cart_ft p { margin-bottom: 10px; line-height: 24px;}

.mini_cart_ft a { background: #ff5f2b; padding: 5px 10px; display: inline-block; color: #FFF;}
.mini_cart_ft a:hover { background: #fd6b3c;}


.inner {border: 1px #CCCCCC solid; background: #FFF; padding: 10px;}

/*---表格默认样式---*/
.b_table { overflow: hidden;}
.b_table th, .b_table td { padding: 8px; text-align: center;}
.b_table thead { background: #eee;}
.b_table td { border-bottom: 1px #eee solid; overflow:hidden; word-break: break-all;}
.b_table td strong, .b_table td em { color: #ff5f2b; font-size: 14px; font-style:normal;}
.b_table td.left_border { border-left: 1px solid #eee;}

.b_table td .strong_status { color: #333;}

/*---表格内的产品信息---*/
.td_proBox { width: 600px; margin: 10px 0; text-align: left; overflow: hidden;}
.cn_img {
	width: 130px; 
	height: 130px; 
	overflow: hidden; 
	border: 1px #fff solid; 
	font-size: 0; 
	display: block; 
	float: left; 
	margin-right: 15px;
}
.cn_img a { width: 130px; display: block; overflow: hidden;}
.td_proBox a:hover.cn_img { border: 1px #ff5f2b solid;}

.td_proBox a.cn_img img { display: inline-block;}

.td_proBox_info { float: left; width: 430px;}
.td_proBox_info a { color: #333;}
.td_proBox_info a:hover { text-decoration: underline; color: #ff5f2b;}
.td_proBox_info h1 { font-size: 14px; line-height: 24px;}
.td_proBox_info h3 { font-size: 12px; color: #999; line-height: 24px; font-weight: 500;}
.td_proBox_info ul { display: block; margin-top: 5px;}
.td_proBox_info li { padding: 2px 5px; display: inline-block;}
.td_proBox_info li span { display: inline-block; color: #666;}
.td_proBox_info li .c_text { display: inline-block;}

/*pageTurn----*/
.pageTurn { padding: 10px 0; text-align: right; font-size: 13px; color: #333; margin: 20px 0;}
.pageTurn a { padding: 5px 12px; margin: 0px 2px; color: #333; background: #eee;}
.pageTurn a:hover, .pageTurn a:active { color: #ff5f2b;}

.pageTurn a.current { padding: 5px 12px; font-weight: bold; color: #fff; background: #ff5f2b;}
.pageTurn .disabled {display: none;}

.p_num { display: inline-block;}
.p_skip { display: inline-block;}
.p_skip input { height: 24px; text-align: center; width: 40px; display: inline-block; border: 1px #ccc solid;}
.p_skip button { 
	height: 27px;
	padding: 0 5px; 
	border: 1px #ccc solid; 
	line-height: 24px; 
	background: #F7F7F7; 
	margin: 0 5px;
}
.p_skip button:hover { background: #dddddd;}

/*-------foot-------*/
.foot { border-top: 1px #ccc solid; padding: 10px 0; overflow: hidden;}
.foot .foot_nav { float: left;}
.foot .foot_nav li { float: left;}
.foot .foot_nav li a { color: #016cb7; margin: 0 10px;}
.foot .foot_nav li a:hover { color: #0292f7;}
.copyright { float: right; color: #666;}
.copyright span {font-family: Arial;}

/*--商品评价（多）---*/
.eva_box { 
	overflow: hidden;  
	padding: 20px; 
	border-bottom: 1px #f1f1f1 solid;
}
.eva_comm { float: left;}
.eva_star { float: left; width: 518px; margin-left: 20px;}
.eva_star .gradeText textarea { width: 95%;}
.eva_btn { overflow: hidden; text-align: right; padding: 20px;}