body { 
	font: 12px/1.5 "\5b8b\4f53", Arial,Verdana; 
	color: #333; 
	background:#ffffff url(../images/bg.jpg) no-repeat;
	background-size: cover;
}
.ad2 { font-size: 0px; width: 100%; height:530px;}
.banner { position: relative; overflow: auto; }
.banner ul { display: block;}
.banner li { list-style: none; height: 530px;}
.banner ul li { float: left; background-size: contain; background-position: center 0px; background-repeat: no-repeat;}

.dots { position:absolute; bottom: 0px; z-index:11000; left: 50%; margin-left: -14px;}
.dots li { 
	float:left; 
	width:15px; 
	height:15px;
	border-radius: 50%; 
	cursor:pointer;
	background: #dddddd;
	margin: 5px;
}
.dots li.active { background: #8d8d8d;}

.main { position: relative; margin:122px 0 0 0;}
.dl_area { 
	position: absolute; 
	left: 50%; 
	top: 300px; 
	margin-left: -175px; 
	width: 350px; 
	overflow: hidden;
	padding-left: 90px;
}
.dl_area ul { float: left;}
.dl_area li { 
	margin: 10px 0; 
	font-family:"microsoft yahei"; 
	width: 220px; 
	border-radius: 45px; 
	color: #FFF; 
	position: relative;
	padding-left: 40px;
}

.dl_area li i { 
	width: 26px; 
	height: 26px; 
	display: inline-block; 
	float: left;
	position: absolute;
	top: 2px;
	left: 10px;
}
.dl_area li i.ios_icon { background: url(../images/ios.png) no-repeat;}
.dl_area li i.android_icon { background: url(../images/android.png) no-repeat;}

.dl_area li a { 
	height: 32px; 
	line-height: 32px; 
	text-align: center; 
	color: #FFF; 
	display: inline-block;
	width: 100px;
	font-size: 16px;
}
.dl_area li a:hover { text-decoration: underline;}

.dl_area li.ios { background: #72b50c;}
.dl_area li.ios:hover {
	background-color: #7ac10e;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari 和 Chrome */
	-o-transition: all 0.2s; /* Opera */
}
.dl_area li.android { background: #2ba9db; }
.dl_area li.android:hover {
	background-color: #30b8ee;
	transition: all 0.2s;
	-moz-transition: all 0.2s; /* Firefox 4 */
	-webkit-transition: all 0.2s; /* Safari 和 Chrome */
	-o-transition: all 0.2s; /* Opera */
}
.dl_area li p { color: #666; font-size: 12px;}
.updownEwm { float: right; margin-top: 10px;}
.updownEwm img { width: 80px;}

.foot2 {
	width: 100%; 
	height: 58px; 
	line-height: 58px; 
	background: #444444; 
	color: #FFF; 
	font-family:"microsoft yahei"; 
	text-align: center;
	position: absolute;
	z-index: 100;
}
.companyName { display: inline-block;}
.f_links { display: inline-block; margin-left: 50px;}
.f_links a { color: #FFF; margin: 0 10px;}

