<script type="text/javascript" src="js/controllers/cs_lease.controller.js"></script>
<div class="right" ng-controller="cs_leaseController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">售后记录</a></li>
			<li><a href="#/cs_lease">租赁退还记录列表</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>租赁退还记录列表</h1>
		</div>
		<div class="seenBox clear">
			<ul>
				<li><div class="user_search">
						<input name="search" type="text" ng-model="search" />
						<button ng-click="submitSearch()"></button>
					</div></li>
				<li><div class="user_select">
						<label>状态筛选</label> <select name="q" ng-model="screen" ng-change="submitScreen()">
							<option value="">请选择</option>
							<option value="1">待处理</option>
							<option value="2">退还中</option>
							<option value="4">处理完成</option>
							<option value="5">已取消</option>
						</select>
					</div></li>

			</ul>
		</div>
		<div class="user_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col />
					<col />
					<col />
					<col width="200" />
					<col />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>编号</th>
						<th>申请日期</th>
						<th>终端</th>
						<th>商户</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="o in list">
						<td>{{o.apply_num}}</td>
						<td>{{o.create_time}}</td>
						<td>{{o.terminal_num}}<br />{{o.brand_name}} {{o.brand_number}} {{o.zhifu_pingtai}}
						</td>
						<td>{{o.merchant_name}}<br />{{o.merchant_phone}}
						</td>
						<td><strong ng-if="o.status==1" class="strong_status">待处理</strong>
						 <strong ng-if="o.status==2" class="strong_status">退还中</strong> 
						 <strong ng-if="o.status==4" class="strong_status">处理完成</strong> 
						 <strong ng-if="o.status==5" class="strong_status">已取消</strong>
						</td>
						<td><a href="#/cs_leaseinfo?infoId={{o.id}}" class="a_btn">查看详情</a>
						 <a href="javascript:void(0)" ng-click="cancelApply(o)"  onClick="if(confirm('是否确定取消？'))return true;return false;" ng-if="o.status==1" class="a_btn">取消</a>
						 <a href="javascript:void(0)" ng-click="resubmitCancel(o)" onClick="if(confirm('是否重新提交？'))return true;return false;" ng-if="o.status==5" class="a_btn">重新提交</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num">
				<a href="#" class="disabled">上一页</a> <a href="#" class="current">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> ... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=2">下一页</a>
			</div>
			<div class="p_skip">
				<span>共24页</span> <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页
				</span>
				<button>确定</button>
			</div>
		</div>
	</div>

</div>