<script type="text/javascript" src="js/controllers/myapp.controller.js"></script>
<div class="right" ng-controller="myappController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#/myapp">我的掌富</a></li>
                    </ul>
                </div>
                <div class="content clear">
                	<div class="user_deal">
                    	<div class="cu_title">7日交易动态<span>单位：元</span></div>
                        <div class="deal_text">交易金额：<strong>{{trade.sum/100  |currency : "￥"}}</strong>&nbsp;&nbsp;交易笔数：<strong>{{trade.num}}</strong> 次</div>
                        <div class="barChart">
                        	<canvas id="myChart" height="230" width="420"></canvas>
                        </div>
                    </div>
                    <div class="user_notice">
                    	<div class="cu_title">公告板</div>
                    	<div class="user_news_con" >
                        	<ul>
                            	<li ng-repeat="m in web_list"><a href="#/webmessageinfo?infoId={{m.id}}">[公告] {{m.title}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="user_business">
                    	<div class="cu_title">业务处理</div>
                        <div class="user_news_con">
                        	<ul>
                            	<li ng-repeat="m in cc_list">1条换货申请    
								 <strong ng-if="m.status==2"  >换货中</strong> 
								 <strong ng-if="m.status==4"  >处理完成</strong> 
						 		<strong ng-if="m.status==5"  >已取消</strong>
                            	</li>
                            	<li ng-repeat="m in cr_list">1条退货申请    
								 <strong ng-if="m.status==2"  >退货中</strong> 
								 <strong ng-if="m.status==4" >处理完成</strong> 
						 		<strong ng-if="m.status==5"  >已取消</strong>
                            	</li>
                            	<li ng-repeat="m in cp_list">1条维修申请    
								 <strong ng-if="m.status==2"  >待发回</strong> 
								 <strong ng-if="m.status==3"  >维修中</strong> 
								 <strong ng-if="m.status==4"  >处理完成</strong> 
						 		<strong ng-if="m.status==5"  >已取消</strong>
                            	</li>
                                 
                            </ul>
                        </div>
                    </div>
                    <div class="user_message">
                    	<div class="cu_title">消息栏</div>
                        <div class="user_news_con" >
                        	<ul>
                            	<li  ng-repeat="m in my_list"><a href="#/messageinfo?id={{m.id}}">[消息] {{m.title}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
