<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CsCencelsMapper">

	<select id="findRepairsAll" resultType="map" parameterType="com.comdosoft.financial.user.domain.zhangfu.CsCancel">
		SELECT
			o.id,
			o.created_at,
			o. STATUS,
			t.serial_num,
			o.apply_num
		FROM
			cs_cancels o
		LEFT JOIN terminals t ON o.terminal_id = t.id
		WHERE
			o.customer_id = #{customer_id}
		ORDER BY
			o.created_at DESC
		LIMIT #{page},#{pageSize}
	</select>
	
	<select id="findById" resultType="map" parameterType="com.comdosoft.financial.user.domain.zhangfu.CsCancel">
		SELECT
			o.id,
			o.created_at,
			o. STATUS,
			t.serial_num,
			o.apply_num
		FROM
			cs_cancels o
		LEFT JOIN terminals t ON o.terminal_id = t.id
		WHERE
			o.id = #{id}
	</select>
	
	<update id="cancelApply">
	update  cs_cancels 
	SET STATUS = #{repairStatus.code}
	where id = #{id}
	</update>
</mapper>