<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CsRepairPaymentMapper">
 
 
	
	<!-- 添加维修支付记录 -->
	<insert id="insertPayment" >
      INSERT INTO cs_repair_payments (
			cs_repair_id,
			repair_price,
			created_at,
			pay_types
		)
       VALUES(#{csRepairId},#{repairPrice},NOW(),1)
    </insert>
    
      
</mapper>