<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CsReturnMapper">
<!-- 退货 -->
	<select id="count" resultType="int">
		SELECT count(o.id) as count 
		FROM
			cs_returns o
			LEFT JOIN terminals t ON o.terminal_id = t.id
		WHERE
			o.customer_id = #{customer_id}
		ORDER BY
			o.created_at DESC
	</select>
	
	<select id="countSearch" resultType="int">
		SELECT count(o.id) as count 
		FROM
			cs_returns o
			LEFT JOIN terminals t ON o.terminal_id = t.id
		WHERE
			o.customer_id = #{customer_id}
			<if test="search !=null and search!=''">
		        and (o.apply_num like "%"#{search}"%"  or t.serial_num like "%"#{search}"%") 
		   </if>
		<if test="q !=null and q!=''">
		and o.status = #{q}
		</if>
		ORDER BY
			o.created_at DESC
	</select>
	
	<select id="wxlist" resultType="map">
	SELECT
		cr.`status`
	FROM
		cs_returns cr
	WHERE
		cr.`status` != 1
		AND cr.customer_id =#{customer_id}
	ORDER BY
		cr.created_at DESC
		LIMIT 0,2
	</select>
	
	<select id="findAll" resultType="map"  >
		SELECT
			o.id,
			o.created_at,
			o.status,
			t.serial_num,
			o.apply_num,
			gb.`name` AS brand_name,
			g.model_number AS brand_number,
			pc.`name` as zhifu_pt, m.title AS merchant_name,
			m.phone AS mer_phone
		FROM
			cs_returns o
			LEFT JOIN terminals t ON o.terminal_id = t.id
		LEFT JOIN goods g ON t.good_id = g.id
		LEFT JOIN good_brands gb ON g.good_brands_id = gb.id
		LEFT JOIN pay_channels pc ON t.pay_channel_id = pc.id
		LEFT JOIN merchants m ON t.merchant_id = m.id
		WHERE
			o.customer_id = #{customer_id}
		ORDER BY
			o.created_at DESC
		LIMIT #{offset},#{pageSize}
	</select>
	
	<select id="search" resultType="map"  >
		SELECT
			o.id,
			o.created_at,
			o.status,
			t.serial_num,
			o.apply_num,
			gb.`name` AS brand_name,
			g.model_number AS brand_number,
			pc.`name` as zhifu_pt, m.title AS merchant_name,
			m.phone AS mer_phone
		FROM
			cs_returns o
			LEFT JOIN terminals t ON o.terminal_id = t.id
			LEFT JOIN goods g ON t.good_id = g.id
		LEFT JOIN good_brands gb ON g.good_brands_id = gb.id
		LEFT JOIN pay_channels pc ON t.pay_channel_id = pc.id
		LEFT JOIN merchants m ON t.merchant_id = m.id
		WHERE
			o.customer_id = #{customer_id}
			<if test="search !=null and search!=''">
		      and (o.apply_num like "%"#{search}"%"  or t.serial_num like "%"#{search}"%") 
		   </if>
		<if test="q !=null and q!=''">
		and o.status = #{q}
		</if>
		ORDER BY
			o.created_at DESC
		LIMIT #{offset},#{pageSize}
	</select>
	
		<select id="findById" resultType="map"  >
		SELECT
			o.id,
			o.`status` AS apply_status,
			o.created_at AS apply_time,
			o.return_price,
			o.bank_name,
			o.bank_account,
			o.reason,o.cs_cencel_id,
			t.serial_num,cc.templete_info_xml,
			o.apply_num,
			gb.`name` AS brand_name,
			g.model_number AS brand_number,
			pc.`name` as zhifu_pt, m.title AS merchant_name,
			m.phone AS mer_phone,
			cra.address ,cra.receiver,cra.phone as receiver_phone  
		FROM
			cs_returns o
		LEFT JOIN terminals t ON o.terminal_id = t.id
		LEFT JOIN goods g ON t.good_id = g.id
		LEFT JOIN good_brands gb ON g.good_brands_id = gb.id
		LEFT JOIN pay_channels pc ON t.pay_channel_id = pc.id
		LEFT JOIN merchants m ON t.merchant_id = m.id
		left join cs_cancels cc on o.cs_cencel_id = cc.id
		LEFT JOIN cs_receiver_addresses cra ON o.return_address_id = cra.id
		
		WHERE
			o.id = #{id}
	</select>
	
		<select id="findTraceById" resultType="map" >
		SELECT
			crm.content AS marks_content,
			crm.created_at,
			c.`name` AS marks_person
		FROM
			 cs_return_marks crm 
		LEFT JOIN customers c ON crm.customer_id = c.id
		WHERE
		     crm.cs_return_id = #{id}
	</select>
	
	<update id="cancelApply">
	update  cs_returns 
	SET status = #{repairStatus.code},updated_at = NOW()
	where id = #{id}
	</update>
	
	<!-- 提交物流信息 -->
	<insert id="addMark" parameterType="com.comdosoft.financial.user.domain.zhangfu.CsRepairMark">
       INSERT INTO cs_return_marks (cs_return_id,customer_id,content,created_at)
       VALUES(#{id},#{customer_id},#{content},NOW())
    </insert>
    
     <update id="changeStatus">
	update  cs_returns 
	SET STATUS = #{updateStatus.code},updated_at = NOW()
	where id = #{id}
	</update>
</mapper>