<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CustomerMapper">
	
	<select id="getSysConfig" resultType="map">
	<![CDATA[
		SELECT param_name, param_value, remark
		  FROM sys_config
		 WHERE param_name = #{paramName}
	]]>
	</select>

	<select id="getOne" resultType="map">
	<![CDATA[
		SELECT name, phone, email, city_id, integral, password
		  FROM customers
		 WHERE id = #{id}
	]]>
	</select>
	
	<select id="findCustById" resultType="map">
	<![CDATA[
	SELECT
		c.name,
		c.phone,
		c.email,
		c.city_id,
		c.integral,
		c.password,
		t.id,
		t.`name` as c_name,
		t.parent_id,
		tt.`name` as p_name
	FROM
		customers c
	LEFT JOIN cities t ON c.city_id = t.id
	LEFT JOIN cities tt ON t.parent_id = tt.id
	WHERE
		 c.id = #{customer_id}
	]]>
	</select>

	<update id="update">
		UPDATE customers
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null and name !=''">name = #{name},</if>
			<if test="phone != null and phone !=''">phone = #{phone},</if>
			<if test="email != null and email !=''">email = #{email},</if>
			<if test="cityId != null and cityId !=''">city_id = #{cityId}</if>
		</trim>
		WHERE id = #{id}
	</update>

	<update id="cust_update" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" flushCache="true" >
		update customers
		set name = #{name},phone = #{phone},email = #{email},city_id = #{cityId},updated_at = NOW()
		where id = #{id}
	</update>

	<update id="updatePassword" >
	<![CDATA[
		UPDATE customers SET password = #{password}
		 WHERE id = #{id}
	]]>
	</update>

	<select id="getTradeRecordsCount" resultType="int">
	<![CDATA[
		SELECT COUNT(i.id)
		  FROM customer_integral_records i LEFT JOIN orders d ON i.target_id = d.id
		 WHERE i.customer_id = #{customerId}
	]]>
	</select>

	<select id="getIntegralList" resultType="map">
	<![CDATA[
		SELECT i.quantity, i.types, i.target_type, d.order_number, d.actual_price,
			   DATE_FORMAT(d.payed_at, '%Y-%m-%d %T') payedAt
		  FROM customer_integral_records i LEFT JOIN orders d ON i.target_id = d.id
		 WHERE i.customer_id = #{customerId}
	  ORDER BY i.created_at DESC
		 LIMIT #{offset}, #{rows}
	]]>
	</select>

	<select id="getIntegralTotal" resultType="map">
	<![CDATA[
		SELECT SUM(i.quantity) quantityTotal
		  FROM customer_integral_records i
		 WHERE i.customer_id = #{customerId}
	]]>
	</select>

	<insert id="insertIntegralConvert" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customer_integral_converts (name, phone, price, quantity, created_at, updated_at, customer_id)
		VALUES (#{name}, #{phone}, #{price}, #{quantity}, #{createdAt}, #{updatedAt}, #{customerId})
	]]>
	</insert>

	<update id="updateIntegralTotal">
	<![CDATA[
		UPDATE customers SET integral = #{integralTotal}
		 WHERE id = #{customerId}
	]]>
	</update>

	<insert id="insertIntegralRecord" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customer_integral_records (customer_id, types, quantity)
		VALUES (#{customerId}, #{types}, #{quantity})
	]]>
	</insert>

	<select id="getAddressList" resultType="map">
	<![CDATA[
		SELECT id, city_id cityId, address, zip_code zipCode, receiver, moblephone, telphone, is_default isDefault, customer_id customerId
		  FROM customer_addresses
		 WHERE customer_id = #{customerId}
	  ORDER BY created_at DESC
	]]>
	</select>

	<select id="getOneAddress" resultType="map">
	<![CDATA[
		SELECT id, city_id, receiver, moblephone, zip_code, is_default, address
		  FROM customer_addresses
		 WHERE id = #{id}
	]]>
	</select>

	<insert id="insertAddress" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT INTO customer_addresses (city_id, receiver, moblephone, telphone, zip_code, address, is_default, customer_id, created_at)
		VALUES (#{cityId}, #{receiver}, #{moblephone}, #{telphone}, #{zipCode}, #{address}, #{isDefault}, #{customerId}, NOW())
	]]>
	</insert>

	<update id="updateAddress">
		UPDATE customer_addresses
		<trim prefix="SET" suffixOverrides=",">
			<if test="cityId != null">city_id = #{cityId},</if>
			<if test="zipCode != null and zipCode !=''">zip_code = #{zipCode},</if>
			<if test="address != null and address !=''">address = #{address},</if>
			<if test="receiver != null and receiver !=''">receiver = #{receiver},</if>
			<if test="telphone != null and telphone !=''">telphone = #{telphone},</if>
			<if test="moblephone != null and moblephone !=''">moblephone = #{moblephone},</if>
			<if test="isDefault != null">is_default = #{isDefault}</if>
		</trim>
		WHERE id = #{id}
	</update>

	<update id="updateDefaultAddress">
	<![CDATA[
		UPDATE customer_addresses SET is_default = #{is_default}
		 WHERE customer_id = #{customerId}
	]]>
	</update>

	<update id="setDefaultAddress">
	<![CDATA[
		UPDATE customer_addresses SET is_default = 1
		 WHERE id = #{id}
	]]>
	</update>

	<delete id="deleteAddress">
	<![CDATA[
		DELETE FROM customer_addresses WHERE id = #{id}
	]]>
	</delete>

</mapper>