<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.CustomerMapper">

	<select id="getOne" resultType="map">
	<![CDATA[
		SELECT name, cityId, integral, phone, email
		  FROM customers
		 WHERE id = #{id}
	]]>
	</select>

	<update id="updatePassword">
	<![CDATA[
		UPDATE customers SET password = #{password}
		 WHERE id = #{id}
	]]>
	</update>

</mapper>