<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.OrderMapper">
  
  
  
  <insert id="addOrder" parameterType="com.comdosoft.financial.user.domain.query.OrderReq">
		INSERT into orders 
		(order_number,customer_id,total_price,status,types,
		customer_address_id,need_invoice,invoice_type,
		invoice_info,actual_price,created_at,updated_at,
		comment,total_quantity)
		VALUES('123',1,100,1,0,1,0,1,'sad',120,NOW(),NOW(),'nihao',5)
  </insert>
  
  <select id="getGoodInfos" parameterType="com.comdosoft.financial.user.domain.query.OrderReq">
        SELECT sc.id,sc.quantity,g.id as goodid,pc.id as paychanelid ,
        g.price,g.retail_price,pc.opening_cost
		from shopping_carts sc
		LEFT JOIN goods g on g.id=sc.good_id
		LEFT JOIN pay_channels pc on pc.id=sc.pay_channel_id
		where sc.id in ${cartids}
  </select>
	
</mapper>