<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.UserLoginMapper">

	<insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		INSERT  into customers(username,name,password,city_id,account_type,types,phone,email,created_at,dentcode,status)
		VALUES(#{username},#{name},#{password},#{cityId},#{accountType},#{types},#{phone},#{email},now(),#{dentcode},#{status})
	</insert>

	<select id="doLogin" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="map">
 		SELECT t.id,t.username,t.account_type as accountType,t.name,t.city_id as cityId,t.types,t.last_logined_at as lastLoginedAt,
 		t.integral as integral,t.status,t.device_code as deviceCode,t.created_at as createdAt,t.updated_at as updatedAt,t.phone,t.email,e.`name` as cityName
 		FROM customers t
		LEFT JOIN cities e on e.id = t.city_id
 		WHERE t.username=#{username} AND t.password=#{password} AND t.types=#{types} 
 		AND t.status=#{status}
 	</select>
 	
 	<update id="updateUser" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers SET password = #{password},city_id = #{cityId},name = #{name},
		account_type = #{accountType},types = #{types},phone = #{phone},email = #{email},created_at = now(),status=#{status}
		WHERE username = #{username}
	</update>
 	
	<update id="updateLastLoginedAt" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers set last_logined_at=now()
		WHERE username=#{username}
	</update>
	
	<update id="updatePassword" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers set `password`=#{password},updated_at=now()
		WHERE username=#{username}
	</update>
	
	<update id="activationEmail" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		update customers SET `status` = #{status}
		where username = #{username} and types = #{types}
	</update>
	
	<select id="findUname"  resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username} AND `status` = #{status} AND types = #{type}
	</select>
	
	<select id="findUnameAndStatus" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username} AND status=#{status}
	</select>
	
	<select id="findUserAndStatus" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username} and status!=#{status}
	</select>
	
	<select id="findCode" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="string">
		SELECT dentcode from customers
		WHERE username=#{username}	AND `status` = #{status} AND types = #{types}
	</select>
	
	<update id="updateCode" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers set dentcode=#{dentcode}
		WHERE username=#{username}
	</update>
</mapper>