<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comdosoft.financial.user.mapper.zhangfu.UserLoginMapper">

	<insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		INSERT  into customers(username,password,city_id,account_type,types,phone,email,created_at,dentcode,status)
		VALUES(#{username},#{password},#{cityId},#{accountType},#{types},#{phone},#{email},now(),#{dentcode},#{status})
	</insert>

	<select id="doLogin" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="map">
 		SELECT id,username,account_type as accountType,name,city_id as cityId,types,last_logined_at as lastLoginedAt,
 		integral as integral,status,device_code as deviceCode,created_at as createdAt,updated_at as updatedAt,phone,email 
 		FROM customers 
 		WHERE username=#{username} AND password=#{password} AND types=#{types} 
 		AND status=#{status}
 	</select>
 	
 	<update id="updateUser" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers SET password = #{password},city_id = #{cityId},
		account_type = #{accountType},types = #{types},phone = #{phone},email = #{email},created_at = now(),status=#{status}
		WHERE username = #{username}
	</update>
 	
	<update id="updateLastLoginedAt" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers set last_logined_at=now()
		WHERE username=#{username}
	</update>
	
	<update id="updatePassword" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers set `password`=#{password},updated_at=now()
		WHERE username=#{username}
	</update>
	
	<select id="findUname" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username}
	</select>
	
	<select id="findUnameAndStatus" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username} AND status=#{status}
	</select>
	
	<select id="findUserAndStatus" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="int">
		SELECT COUNT(*) from customers 
		WHERE username=#{username} and status!=#{status}
	</select>
	
	<select id="findCode" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer" resultType="string">
		SELECT dentcode from customers
		WHERE username=#{username}
	</select>
	
	<update id="updateCode" parameterType="com.comdosoft.financial.user.domain.zhangfu.Customer">
		UPDATE customers set dentcode=#{dentcode}
		WHERE username=#{username}
	</update>
</mapper>