<link href="style/login.css" rel="stylesheet" type="text/css" />
<div id="login" ng-controller="loginController">
	<div class="login_logo" style="cursor: pointer" ng-click="index()">
		<img src="images/logo.png" />
		<span class="logo_dh"><img src="images/dh.png" /></span>
	</div>
	<div class="login">
		<div class="login_left" >
			<img src="images/ad.jpg" />
		</div>
		<div class="login_right">
			<div class="lr_h">
				<ul>
					<li class="hover">普通用户</li>
					<li ng-click="gotoagentlogin()">代理商</li>
				</ul>
			</div>
			<div class="lr_b">
				<div class="login_area" >
					<ul>
						<li><input id="loginUname" ng-mousedown="unameClass=fale" ng-class="{true:'error'}[unameClass==true]" name="" type="text" placeholder="ID" ng-model="username" />
							<p class="red" >{{nameMessage}}</p></li>
						<li><input name="" ng-mousedown="passClass=false" type="password" placeholder="密码:由6-20位，英文字符组成" ng-class="{true:'error'}[passClass==true]" ng-model="password1" />
						<p class="red" >{{passMessage}}</p></li>
						<li><input ng-mousedown="imgClass=false" ng-class="{true:'l error',false:'l'}[imgClass==true]" name="" class="l" type="text" placeholder="输入图片校验码" ng-model="code" />
							<div class="yzm">
								<img class="loginRandCodeImg" src="images/yzm.jpg" ng-click="reGetRandCodeImg()" />
							</div>
							<!-- <p class="red" >{{imgMessage}}</p> -->
							</li>
					</ul>
					<div class="forget">
						<span><a href="#/register">马上注册</a></span> <a href="#/findpass" >忘记密码？</a>
					</div>
					<div class="btn">
						<button ng-click="login()">登录</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


