<link href="style/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	function focusBlur(e) {
		$(e).focus(function() {
			var thisVal = $(this).val();
			if (thisVal == this.defaultValue) {
				$(this).val('');
			}
		})
		$(e).blur(function() {
			var thisVal = $(this).val();
			if (thisVal == '') {
				$(this).val(this.defaultValue);
			}
		})
	}
	$(function() {
		focusBlur('.login_area input');//登录
	})
</script>

<div id="login" ng-controller="loginController">

	<div class="login_head">
		<div class="login_logo">
			<img src="images/logo.png" style="cursor: pointer" ng-click="index()" />
		</div>
		<div class="login_dh">
			<img src="images/dh.png" />
		</div>
	</div>

	<div class="login">
		<div class="login_left">
        	<img src="images/ad.jpg" />
        </div>
        
        
		<div class="login_right">
			<div class="lr_h">
            	<ul>
                	<li class="hover">普通用户</li>
                </ul>
            </div>
            
			<div class="lr_b">
				<div class="login_area">
					<ul>
						<li>
							<label>手机或邮箱</label>
							<input id="loginUname"   ng-class ="{true: 'input_false', false: ''}[unameClass]"   type="text"  ng-model="username" />
							<p class="login_area_wrong" ng-if="unameClass">{{nameMessage}}</p>
						</li>
						<li>
							<label>密码</label>
							<input  type="password"  ng-class="{true: 'input_false', false: ''}[passClass]" ng-model="password1" />
							<p class="login_area_wrong" ng-if="passClass">{{passMessage}}</p>
						</li>
						<li class="yzm_li">
                        	<input ng-model="code" value="输入图片校验码" ng-class="{true: 'l input_false', false: 'l'}[codeClass]" />
                            <div class="yzm">
                            	<img src="images/yzm.jpg" ng-click="reGetRandCodeImg()" id="pppcode" />
                                <a>看不清?点击图片换一张</a>
                            </div>
                        </li>
					</ul>
					
					<div class="forget">
						<span><a href="#/register">马上注册</a></span> <a href="#/findpass">忘记密码？</a>
					</div>
					<div class="btn">
						<button ng-click="login()">登录</button>
					</div>
				</div>
			</div>
		</div>
	
	
	</div>
</div>


