<div id="mainindex" ng-controller="mainindexController">
	<div class="clear"></div>
	<div class="head head_index clear">
		<div class="box" ng-controller="searchController">
			<div class="logo" style="cursor: pointer" ng-click="index()">华尔街金融</div>
			<div class="search">
				<div class="search_box">
					<input ng-model="haha" type="text" placeholder="请输入pos机信息" />
					<button ng-click="searchShop()">搜索</button>
				</div>
				<div class="hotwords">
					<a href="#">掌付</a><a href="#">拉卡拉</a><a href="#">支付天下</a>
				</div>
			</div>
			<div class="phone">
				<img src="images/dh.png" />
			</div>
			<div class="shoppingCart">
				<div class="sCart_h">
					<i></i><em></em><span>{{shopcount>0?shopcount:""}}</span>
				</div>
				<div class="sCart_b" ng-if="shopcount>0">
					您购物车中有<strong>{{shopcount}}</strong>件商品，<a href="#/shopcart">去 付款</a>
				</div>
				<div class="sCart_b" ng-if="shopcount==0">购物车暂无商品</div>
			</div>
		</div>
	</div>
	<div class="ad">
		<div class="banner">
			<ul class="show">
				<li ng-show="pic_total>0" ng-style="getBackgroundStyle(pic_list[0].picture_url)" ng-click="gotoo(pic_list[0].website_url)"></li>
				<li ng-show="pic_total>1" ng-style="getBackgroundStyle(pic_list[1].picture_url)" ng-click="gotoo(pic_list[1].website_url)"></li>
				<li ng-show="pic_total>2" ng-style="getBackgroundStyle(pic_list[2].picture_url)" ng-click="gotoo(pic_list[2].website_url)"></li>
				<li ng-show="pic_total>3" ng-style="getBackgroundStyle(pic_list[3].picture_url)" ng-click="gotoo(pic_list[3].website_url)"></li>
				<li ng-show="pic_total>4" ng-style="getBackgroundStyle(pic_list[4].picture_url)" ng-click="gotoo(pic_list[3].website_url)"></li>
			</ul>
		</div>
		<script>
			$(function() {
				$('.banner').unslider({
					speed : 500,
					delay : 3000,
					complete : function() {
					},
					keys : true,
					dots : true,
					fluid : false
				});
			});
		</script>
	</div>
	<div class="main">


		<div class="box">
			<div class="i_category">
				<ul>
					<li><a href="#" class="pos01"><i></i>
							<p>传统POS机</p></a></li>
					<li><a href="#" class="pos02"><i></i>
							<p>智能手机插件POS</p></a></li>
					<li><a href="#" class="pos03"><i></i>
							<p>功能手机插件POS</p></a></li>
					<li><a href="#" class="pos04"><i></i>
							<p>音频外插件POS</p></a></li>
					<li><a href="#" class="pos05"><i></i>
							<p>蓝牙插件POS</p></a></li>
					<li><a href="#" class="pos06"><i></i>
							<p>其它POS</p></a></li>
				</ul>
			</div>
			<div class="searchProgress">
				<div class="title">申请进度查询</div>
				<div class="sp_con">
					<div class="sp_search">
						<input ng-model="req.phone2" type="text" placeholder="请输入手机号" />
						<button ng-click="searchhh()" id="qwert_btn">搜索</button>
					</div>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="hotPro">
				<div class="title">
					热卖POS<a href="#" class="more">更多&gt;&gt;</a>
				</div>
				<div class="hp_con">
					<ul>
						<li ng-repeat="p in pos_list |orderBy : '-volume_number'"><a href="#/shopinfo?goodId={{p.id}}" class="pro_img_a"><img src="{{p.good_logo}}" style="width: 150px; height: auto;" /></a>
							<div class="pro_text">
								<h3>{{p.brand_name}} {{p.brand_number}}</h3>
								<p>支持平台</p>
								<p>支持交易类型</p>
								<p>费率</p>
								<p>到账日期</p>
								<a class="pro_text_a" href="#/shopinfo?goodId={{p.id}}">查看详情 &gt;&gt;</a>
							</div></li>
					</ul>
				</div>
			</div>
			<div class="notice">
				<div class="title">网站公告</div>
				<div class="no_con">
					<ul>
						<li ng-repeat="m in web_list"><i></i>
							<p>
								<a href="javascript:void(0)"  ng-click="notice_show(m)" >{{m.title}}</a>
							</p> <span>{{m.create_at}}</span></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="box">
			<div class="organization">
				<div class="title">收单机构</div>
				<div class="org_con">
					<ul>
						<li ng-repeat="f in factory_list"><a href="javascript:void()"> <img src="{{f.logo_file_path}}" width="80px;" height="60px;" />
								<h4>{{f.name}}</h4>
								<p>{{f.description}}</p>
						</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="contact">
			<div class="box">
				<h1>和我们的专家进行及时沟通</h1>
				<ul>
					<li><a href="javascript:void(0);" class="buyIntention_a"><i class="intention"></i>
							<p>填写购买意向</p></a></li>
					<li><a href="#"><i class="qqContact"></i>
							<p>联系24小时在线客服</p></a></li>
					<li><a href="#"><i class="phoneContact"></i>
							<p>400-009-0876</p></a></li>
				</ul>
			</div>
		</div>

		<div class="box">
			<div class="serviceContent">
				<dl>
					<dt>
						<a href="#" class="sc01"><i></i>服务内容</a>
					</dt>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" class="sc01"><i></i>服务内容</a>
					</dt>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" class="sc01"><i></i>服务内容</a>
					</dt>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" class="sc01"><i></i>服务内容</a>
					</dt>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a href="#" class="sc01"><i></i>服务内容</a>
					</dt>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
					<dd>
						<a href="#">指引的超连接</a>
					</dd>
				</dl>
				<div class="ewm">
					<img src="images/ewm.jpg" />
				</div>
			</div>
		</div>
	</div>

	<div class="tab buyIntention_tab">
		<a href="javascript:void(0);" class="close">关闭</a>
		<div class="tabHead">购买意向</div>
		<div class="tabBody">
			<div class="item_list">
				<ul>
					<li><span class="labelSpan">意向人：</span>
						<div class="text">
							<input ng-model="req.name" type="text" />
						</div></li>
					<li><span class="labelSpan">联系电话：</span>
						<div class="text">
							<input ng-model="req.phone" type="text" />
						</div></li>
					<li><span class="labelSpan">咨询内容：</span>
						<div class="text">
							<textarea ng-model="req.content" cols="" rows="" class="textarea_l"></textarea>
						</div></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="orangeBtn" ng-click="addBuy()">提交</button>
		</div>
	</div>

	<div class="tab" id="qwert">
		<a href="javascript:void(0);" class="close">关闭</a>
		<div class="tabHead">查询进度</div>
		<div class="tabBody">
			<div class="seen_progress">
				<ul ng-repeat="tt in ttt">
					<li><span>终端号：</span>{{tt.serial_num}}</li>
					<li><span>当前进度：</span>
					<div class="nr">
						<p ng-if="tt.openStatus.length==0">未申请</p>
                		<p ng-repeat="t in tt.openStatus">{{t.trade_value}}:
					     {{t.status==1?"未开通  ":(t.status==2?"审核中":"已开通")}}</p>
                	</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="orangeBtn" ng-click="close()">确定</button>
		</div>
	</div>
	
	<div class="tab notice_tab" id="notice_tab_show">
	<a href="javascript:void(0);" class="close" ng-click="notice_close()">关闭</a>
	<div class="tabBody">
    	<div class="notice_tab_con">
        	<div class="notice_tab_title">
            	<h1 id="notice_title"></h1>
                <p id="notice_time"></p>
            </div>
            <div class="notice_tab_text" id="notice_contnet">
            </div>
        </div>
	</div>
</div>

</div>

<script src="js/main.js"></script>
<script type="text/javascript" src="js/jQuery.autoIMG.js"></script>
<script>
$(function(){
	$('.cn_img').autoIMG();
})
</script>