<div id="mainindex" ng-controller="mainindexController">
	
	<div class="ad">
		<div class="banner">
			<ul class="show">
			<li ng-repeat="one in pic_list" on-finish-render3-filters
					ng-style="getBackgroundStyle(one.picture_url)"
					ng-click="gotoo(one.website_url)"></li>
			</ul>
		</div>
	</div>
	<div class="main">


		<div class="box">
			<div class="i_category">
        	<ul>
            	<li><a href="#/shop?category=5" class="pos01"><i></i><p>台式一体POS</p></a></li>
                <li><a href="#/shop?category=6" class="pos02"><i></i><p>台式分体POS</p></a></li>
                <li><a href="#/shop?category=7" class="pos03"><i></i><p>手持无线POS</p></a></li>
                <li><a href="#/shop?category=8" class="pos04"><i></i><p>MPOS</p></a></li>
                <li><a href="#/shop?category=3" class="pos05"><i></i><p>智能POS</p></a></li>
                <li><a href="#/shop?category=4" class="pos06"><i></i><p>POS配件</p></a></li>
            </ul>
       		 </div>
			<div class="searchProgress">
				<div class="title">申请进度查询</div>
				<div class="sp_con">
					<div class="sp_search">
						<input ng-model="req.phone2" type="text" placeholder="请输入手机号" />
						<button ng-click="searchhh()" id="qwert_btn">搜索</button>
					</div>
				</div>
			</div>
		</div>

		<div class="box">
		
			<div class="hotPro">
        	<div class="title">热卖POS<a href="#/shop" class="more">更多&gt;&gt;</a></div>
            <div class="hp_con">
            	<ul>
                	<li ng-repeat="p in pos_list ">
                    	<h1><a 	  title="{{p.title}}" ng-click="letitgo('#/shopinfo?goodId=',p.id)">{{p.title}}</a></h1>
                        <div class="pro_text">
                        	<a 	  class="pro_img_a" ng-click="letitgo('#/shopinfo?goodId=',p.id)"><img src="{{p.good_logo}}" /></a>
                            <div class="pro_text_con">
                            	<div class="pro_money">{{p.retail_price/100 |currency : "￥"}} </div>
                                <div class="pro_text_p" title="{{p.second_title}}">{{p.second_title}}</div>
                                <a class="pro_text_a"  	 ng-click="letitgo('#/shopinfo?goodId=',p.id)">查看详情</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
			
			<div class="notice">
        	<div class="title">网站公告</div>
            <div class="no_con">
            	<ul>
                	<li  ng-repeat="m in web_list"><i></i><p><a  ng-click="notice_show(m)">{{m.title}}</a></p>
                    	<span>{{m.create_at}}</span>	
                    </li>
                </ul>
            </div>
        </div>
			
		</div>

 
		<div class="box">
    	<div class="organization">
        	<div class="title">收单机构</div>
            <div class="org_con">
            	<ul>
            		<li ng-repeat="f in factory_list">  <img src="{{f.logo_file_path}}"  alt="{{f.name}}" title="{{f.name}}"  /></li>
                </ul>
            </div>
        </div>
    </div>
		
		<div class="contact">
			<div class="box">
				<h1>和我们的专家进行及时沟通</h1>
				<ul>
					<li><a href="javascript:void(0);" class="buyIntention_a"><i
							class="intention"></i>
							<p class="contactP">填写购买意向</p></a></li>
					<li style="position:relative;"><span id="contactLi2"><i class="qqContact"></i>
							<p class="contactP" id="contactP2">5×8小时在线客服</p></span>
								<div class="qqContact_box" id="qqContact_box">周一到周五9:00到18:00</div>
					</li>
							
					<li><span><i class="phoneContact"></i>
							<p>400-009-0876</p></span></li>
							
				</ul>
			</div>
		</div>

		<!-- <iframe src="views/comm/footer.html" width="98%" height="320px" style="border:1px"></iframe> -->
		   <div class="box">
    	<div class="serviceContent">
        	<dl>
            	<dt><a href="#" class="sc01"><i></i>厂家直销</a></dt>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a href="#" class="sc01"><i></i>直连机构</a></dt>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a href="#" class="sc01"><i></i>在线入网</a></dt>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a href="#" class="sc01"><i></i>标准费率</a></dt>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
            </dl>
            <dl>
            	<dt><a href="#" class="sc01"><i></i>保障售后</a></dt>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
                <dd><a href="#">指引的超连接</a></dd>
            </dl>
            <div class="ewm"><img src="images/app_ewm.jpg" /></div>
        </div>
    </div>
	</div>

	<div class="tab buyIntention_tab">
		<a href="javascript:void(0);" class="close">关闭</a>
		<div class="tabHead">购买意向</div>
		<div class="tabBody">
			<div class="item_list">
				<ul>
					<li><span class="labelSpan">意向人：</span>
						<div class="text">
							<input ng-model="req.name" type="text" />
						</div></li>
					<li><span class="labelSpan">联系电话：</span>
						<div class="text">
							<input ng-model="req.phone" type="text" />
						</div></li>
					<li><span class="labelSpan">咨询内容：</span>
						<div class="text">
							<textarea ng-model="req.content" cols="" rows=""
								class="textarea_l"></textarea>
						</div></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="orangeBtn" ng-click="addBuy()">提交</button>
		</div>
	</div>

	<div class="tab" id="qwert">
		<a href="javascript:void(0);" class="close">关闭</a>
		<div class="tabHead">查询进度</div>
		<div class="tabBody">
			<div class="seen_progress">
				<ul ng-repeat="tt in ttt">
					<li><span>终端号：</span><div class="nr">{{tt.serial_num}}</div></li>
					<li><span>当前进度：</span> 
					<div class="nr">
						<p ng-if="tt.error!=undefined">{{tt.error}}</p>
						<p ng-repeat="t in tt.openStatus">{{t.trade_value}}:
							{{t.status==1?"未开通 ":(t.status==2?"审核中":"已开通")}}</p>
					</div>
					</li>
				</ul>
				<div class="seen_progress_wrong">{{searchhherror}}</div>
			</div>
		</div>
		<div class="tabFoot">
			<button class="orangeBtn" ng-click="close()">确定</button>
		</div>
	</div>

	<div class="tab notice_tab" id="notice_tab_show">
		<a href="javascript:void(0);" class="close" ng-click="notice_close()">关闭</a>
		<div class="tabBody">
			<div class="notice_tab_con">
				<div class="notice_tab_title">
					<h1 id="notice_title"></h1>
					<p id="notice_time"></p>
				</div>
				<div class="notice_tab_text" >
            	<textarea readonly="readonly" name="" cols="" rows="" id="notice_contnet"> </textarea>
            </div>
			</div>
		</div>
	</div>
	
</div> 

<script src="js/main.js"></script>
<script type="text/javascript" src="js/jQuery.autoIMG.js"></script>
<script>
	$(function() {
		$('.cn_img').autoIMG();
		$("#contactLi2").hover(function(e){
			$("#contactP2").text("QQ：3251170541");
			$("#qqContact_box").show();
		},function(e){
			$("#contactP2").text("5×8小时在线客服");
			$("#qqContact_box").hide();
		});
		
	})
</script>
