<link href="style/userDownload.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/unslider.js"></script>
<div class="clear"></div>
<div class="head head_index clear">
	<div class="box" ng-controller="searchController">
		<div class="logo" style="cursor: pointer" ng-click="index()">华尔街金融</div>
		<div class="search">
			<div class="search_box">
				<input ng-model="haha" type="text" placeholder="请输入pos机信息" />
				<button ng-click="searchShop()">搜索</button>
			</div>
			<div class="hotwords">
				<a href="#">钱袋宝</a><a href="#">中汇</a><a href="#">杉德</a><a href="#">掌富</a>
			</div>
		</div>
		<div class="phone">
			<img src="images/dh.png" />
		</div>
		<div class="shoppingCart">
			<div class="sCart_h">
				<i></i><em></em><span>{{shopcount>0?shopcount:""}}</span>
			</div>
			<div class="sCart_b" ng-if="shopcount>0">
				您购物车中有<strong>{{shopcount}}</strong>件商品，<a href="#/shopcart">去&nbsp付款</a>
			</div>
			<div class="sCart_b" ng-if="shopcount==0">购物车暂无商品</div>
		</div>
	</div>
</div>

<div class="main">
	<div class="ad2">
		<div class="banner">
			<ul class="show">
				<li style="background-image: url(images/dl01.png);"></li>
				<li style="background-image: url(images/dl02.png);"></li>
				<li style="background-image: url(images/dl03.png);"></li>
				<li style="background-image: url(images/dl04.png);"></li>
			</ul>
		</div>
		<script type="text/javascript">
			$(function() {
				$('.banner').unslider({
					speed : 500,
					delay : 2000,
					complete : function() {
					},
					keys : true,
					//dots : true,
					fluid : false
				});
			});
		</script>
	</div>

	<div class="dl_area">
		<ul>
			<li class="ios"><i class="ios_icon"></i><a href="https://app.ebank007.com/iosphone/1.0/">iPhone</a> | <a href="#">iPad</a></li>
			<li class="android"><i class="android_icon"></i><a href="#">Phone</a> | <a href="#">Pad</a></li>
			<li><p>最新版本：v2.0.1 更新日期：2015.02.25</p></li>
		</ul>
		<div class="updownEwm">
			<img src="images/ewm.jpg" />
		</div>
	</div>
</div>
<div class="foot2">
	<div class="box">
		<div class="companyName">上海掌富网络技术有限公司版权所有</div>
		<div class="f_links">
			| <a href="#">公司简介</a> | <a href="#">联系方法</a> | <a href="#">客户服务</a> | <a href="#">意见反馈</a> |
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$(".main").height($(window).height()-40-122-58);
		$(".foot").hide();
	})
</script>