<link href="style/userDownload.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/unslider.js"></script>
<div class="head clear">
	<div class="box">
    	<div class="logo">华尔街金融</div>
        <div class="search">
            <div class="search_box">
            <input name="" type="text" value="请输入POS机信息" /><button>搜索</button>
            </div>
            <div class="hotwords"><a href="#">掌付</a><a href="#">拉卡拉</a><a href="#">支付天下</a></div>
        </div>
        <div class="phone"><img src="images/dh.png" /></div>
        <div class="shoppingCart">
            <div class="sCart_h"><i></i><em></em><span>999</span></div>
            <div class="sCart_b">您购物车中有<strong>2</strong>件商品，<a href="#">去购买</a></div>
        </div>
    </div>
</div>

<div class="main">
    <div class="ad">
        <div class="banner">
            <ul class="show">
                <li style="background-image:url(images/dl01.png);"></li>
                <li style="background-image:url(images/dl02.png);"></li>
                <li style="background-image:url(images/dl03.png);"></li>
                <li style="background-image:url(images/dl04.png);"></li>
            </ul>
        </div>
    <script>
    $(function() {
        $('.banner').unslider({
            speed: 500,     
            delay: 3000,
            complete: function() {},
            keys: true,
            dots: true,
            fluid: false   	
            });
    });
    </script>
    </div>
    <div class="dl_area">
    	<ul>
        	<li><a href="https://app.ebank007.com/iosphone/1.0/" class="ios">App store 下载</a></li>
            <li><a href="#" class="android">Android 下载</a></li>
            <li><p>最新版本：v2.0.1  更新日期：2015.02.25</p></li>
        </ul>
        <div class="updownEwm"><img src="images/ewm.jpg" /></div>
    </div>
</div>