<script type="text/javascript" src="js/controllers/myinfo/myinfoupdatepassword.js"></script>
<div class="right" ng-controller="myinfoupdatepasswordController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#/myinfobase">我的信息</a></li>
			<li><a href="#/myinfoupdatepassword">修改密码</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="myInfoNav">
			<ul>
				<li><a href="#/myinfobase">基本信息</a></li>
				<li><a href="#/myinfoupdatepassword" class="hover">修改密码</a></li>
				<li><a href="#/myinfoAddresses">地址管理</a></li>
				<li><a href="#/myinfointegral">我的积分</a></li>
			</ul>
		</div>
		<div class="user_title">
			<h1>修改密码</h1>
		</div>
		<div class="myInfoBox">
			<ul>
				<li><label>原密码：</label><input type="text" ng-model="customer.passwordOld" required /></li>
				<li><label>新密码：</label><input type="text" ng-model="customer.password" required /></li>
				<li><label>确认新密码：</label><input type="text" ng-model="customer.repassword" required /></li>
			</ul>
			<div class="myInfoBox_btn">
				<button type="button" class="orangeBtn" ng-click="updatepassword()">保存</button>
			</div>
		</div>
	</div>
</div>
