<script type="text/javascript" src="js/controllers/myinfo/myinfointegral.js"></script>
<div class="right" ng-controller="myinfointegralController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#/myinfobase">我的信息</a></li>
			<li><a href="#/myinfointegral">我的积分</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="myInfoNav">
			<ul>
				<li><a href="#/myinfobase">基本信息</a></li>
				<li><a href="#/myinfoupdatepassword">修改密码</a></li>
				<li><a href="#/myinfoAddresses">地址管理</a></li>
				<li><a href="#/myinfointegral" class="hover">我的积分</a></li>
			</ul>
		</div>
		<div class="user_title">
			<h1>我的积分</h1>
			<div class="userTopBtnBox">
				<a href="javascript:void(0);" class="ghostBtn ce_a" ng-click="openinsertIntegralConvert()">积分兑换</a>
			</div>
		</div>
		<div class="user_statistics">
			总积分：<strong>{{integralTotal.quantityTotal}}</strong>
		</div>
		<div class="uesr_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<thead>
					<tr>
						<th>获取类型</th>
						<th>日期</th>
						<th>订单编号</th>
						<th>获取积分</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="e in integralList">
						<td ng-if="e.target_type == 1">交易</td>
						<td ng-if="e.target_type == 2">购买终端</td>
						<td ng-if="e.target_type == 3">购买终端</td>
						<td ng-if="e.target_type == 4">兑换</td>
						<td ng-if="e.target_type == ''"></td>
						<td>{{e.payedAt}}</td>
						<td>{{e.order_number}}</td>
						<td>{{e.quantity}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num" ng-show="totalPage>1">
				<a ng-class="{true:'disabled'}[indexPage==1]" href="javascript:void(0)" ng-click="indexPage=1;list()">首页</a>
				<a ng-class="{true:'disabled'}[indexPage==1]" href="javascript:void(0)" ng-click="prev()">上一页</a>
				<a ng-class="{true:'current'}[indexPage==currentPage]" ng-repeat="currentPage in pages" href="javascript:void(0)" ng-click="loadPage(currentPage)">{{currentPage}}</a>
				<a ng-class="{true:'disabled'}[indexPage==totalPage]" href="javascript:void(0)" ng-click="next()">下一页</a>
				<a ng-class="{true:'disabled'}[indexPage==totalPage]" href="javascript:void(0)" ng-click="indexPage=totalPage;list()">末页</a>
			</div>
			<div class="p_skip">
				<span>共&nbsp;{{totalPage}}&nbsp;页</span>&nbsp;<span>到第&nbsp;<input type="text" ng-model="gotoPage">&nbsp;页</span>
				<button ng-click="getPage()">确定</button>
			</div>
		</div>
	</div>
	<div class="tab creditsExchange_tab" style="display: none;">
		<a href="javascript:void(0);" class="close">关闭</a>
		<div class="tabHead">兑换积分</div>
		<div class="tabBody">
			<div class="item_list clear">
				<ul>
					<li><span class="labelSpan">现有积分：</span>
						<div class="text">{{integralTotal.quantityTotal}}</div></li>
					<li><span class="labelSpan">最高可兑换：</span>
						<div class="text">{{integralTotal.dh_total}}元</div></li>
					<li><span class="labelSpan">选择兑换：</span>
						<div class="text">
						<input type="hidden" value="{{integralTotal.dh_total}}" name="dh_total" id="dh_total">
							<input type="text" ng-model="integral.price" required class="xl" name="price" >&nbsp;元
						</div></li>
					<li><span class="labelSpan">姓名：</span>
						<div class="text">
							<input type="text" ng-model="integral.name" required class="xl">
						</div></li>
					<li><span class="labelSpan">电话：</span>
						<div class="text">
							<input type="text" ng-model="integral.phone" required class="xl">
						</div></li>
				</ul>
			</div>
		</div>
		<div class="tabFoot">
			<button class="orangeBtn" ng-click="save()">提交</button>
		</div>
	</div>
	<script type="text/javascript">
	 
	</script>
</div>
<div class="mask"></div>
<script type="text/javascript" src="js/main.js"></script>