<script type="text/javascript" src="js/controllers/traderecord/traderecord4.js"></script>
<div class="right" ng-controller="traderecord4Controller">
	<div class="breadcrumb">
		<ul>
			<li><a href="#/traderecord1">交易流水</a></li>
			<li><a href="#/traderecord4">话费充值</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="dealNav">
			<a href="javascript:void(0);" class="dn_prev">上一页</a>
			<div class="dealNavBox">
				<ul class="li_show">
					<li><a href="#/traderecord1">转账</a></li>
					<li><a href="#/traderecord2">还款</a></li>
					<li><a href="#/traderecord3">消费</a></li>
					<li><a href="#/traderecord4" class="hover">话费充值</a></li>
					<li><a href="#/traderecord5">生活充值</a></li>
				</ul>
			</div>
			<a href="javascript:void(0);" class="dn_next">下一页</a>
		</div>

		<div class="user_title">
			<h1>话费充值交易流水</h1>
		</div>
		<div class="seenBox clear">
			<ul>
				<li><div class="user_select">
						<label>选择终端</label><select ng-model="terminalNumber" ng-options="t.serialNum for t in terminals"></select>
					</div></li>
				<li><div class="user_date">
						<label>选择日期</label><input type="text" ng-model="startTime" />&nbsp;-&nbsp;<input type="text" ng-model="endTime" />
					</div></li>
				<li><button class="ghostBtn" ng-click="search()">搜索</button></li>
			</ul>
		</div>
		<div class="user_statistics">
			{{startTime}}~{{endTime}}&nbsp;转账交易共&nbsp;<strong>{{tradeRecordTotal.tradeTotal}}</strong>&nbsp;笔&nbsp;交易金额总计&nbsp;<strong>{{tradeRecordTotal.amountTotal}}</strong>
		</div>
		<div class="user_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col />
					<col />
					<col />
					<col width="200" />
					<col />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>交易号</th>
						<th>交易时间</th>
						<th>终端号</th>
						<th>交易金额</th>
						<th>手续费</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="t in tradeRecords">
						<td>{{t.trade_number}}</td>
						<td>{{t.tradedTimeStr}}</td>
						<td>{{t.terminalNumber}}</td>
						<td>{{t.amount}}</td>
						<td>{{t.poundage}}</td>
						<td ng-if="t.tradedStatus == 1"><strong class="strong_status">待付款</strong></td>
						<td ng-if="t.tradedStatus == 2"><strong class="strong_status">交易完成</strong></td>
						<td ng-if="t.tradedStatus == 3"><strong class="strong_status">交易失败</strong></td>
						<td><a href="#/traderecord4One?traderecord4OneId={{t.id}}" class="a_btn">查看详情</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num" ng-show="totalPage>1">
				<a ng-class="{true:'disabled'}[indexPage==1]" href="javascript:void(0)" ng-click="indexPage=1;list()">首页</a>
				<a ng-class="{true:'disabled'}[indexPage==1]" href="javascript:void(0)" ng-click="prev()">上一页</a>
				<a ng-class="{true:'current'}[indexPage==currentPage]" ng-repeat="currentPage in pages" href="javascript:void(0)" ng-click="loadPage(currentPage)">{{currentPage}}</a>
				<a ng-class="{true:'disabled'}[indexPage==totalPage]" href="javascript:void(0)" ng-click="next()">下一页</a>
				<a ng-class="{true:'disabled'}[indexPage==totalPage]" href="javascript:void(0)" ng-click="indexPage=totalPage;list()">末页</a>
			</div>
			<div class="p_skip">
				<span>共&nbsp;{{totalPage}}&nbsp;页</span>&nbsp;<span>到第&nbsp;<input type="text" ng-model="gotoPage">&nbsp;页</span>
				<button ng-click="getPage()">确定</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$(".user_date input").datepicker();
	});
	jQuery(function($) {
		$.datepicker.regional['zh-CN'] = {
			closeText : '关闭',
			prevText : '<上月',
			nextText: '下月>',
			currentText : '今天',
			monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月' ],
			monthNamesShort : [ '一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二' ],
			dayNames : [ '星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六' ],
			dayNamesShort : [ '周日', '周一', '周二', '周三', '周四', '周五', '周六' ],
			dayNamesMin : [ '日', '一', '二', '三', '四', '五', '六' ],
			weekHeader : '周',
			dateFormat : 'yy-mm-dd',
			firstDay : 1,
			isRTL : false,
			showMonthAfterYear : true,
			yearSuffix : '年'
		};
		$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
	});
</script>