<script type="text/javascript" src="js/controllers/traderecord/traderecord.js"></script>
<div class="right" ng-controller="traderecordController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#/traderecord">交易流水</a></li>
			<li><a >{{typeName}}</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="dealNav">
			<a class="dn_prev">上一页</a>
			<div class="dealNavBox">
				<ul class="li_show">
					<li ng-repeat="one in tradeType"><a  ng-click="changeType(one)" class="{{one.id==req.tradeTypeId?'hover':''}}">{{one.value}}</a></li>
				</ul>
			</div>
			<a  class="dn_next">下一页</a>
		</div>

		<div class="user_title">
			<h1>{{typeName}}交易流水</h1>
		</div>
		<div class="seenBox clear">
			<ul>
				<li><div class="user_select">
						<label>选择终端</label>
						<select ng-model="req.terminalNumber" >
						<option  ng-repeat="one in terminals" value="{{one.serialNum}}">{{one.serialNum}}</option>
						</select>
					</div></li>
				<li><div class="user_date">
						<label>选择日期</label><input type="text" ng-model="req.startTime" readonly>&nbsp;-&nbsp;<input type="text"  ng-model="req.endTime" readonly>
					</div></li>
				<li><button class="ghostBtn" ng-click="search()">搜索</button></li>
			</ul>
		</div>
		<div class="user_statistics">
			<span ng-show="show.startTime.length>5&&show.endTime.length>5">{{show.startTime}}至{{show.endTime}}&nbsp;</span>
			<span ng-show="show.startTime.length>5&&show.endTime.length<5">{{show.startTime}}至今&nbsp;</span>
			<span ng-show="show.startTime.length<5&&show.endTime.length>5">{{show.endTime}}之前&nbsp;</span>
			{{typeName}}&nbsp;&nbsp;共&nbsp;<strong>{{tradeRecords.total}}</strong>&nbsp;笔&nbsp;
			交易金额总计&nbsp;<strong>{{tradeRecords.amountTotal/100|currency : "￥"}}</strong>
		</div>
		<div class="user_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col />
					<col />
					<col />
					<col width="200" />
					<col />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>交易号</th>
						<th>交易时间</th>
						<th>终端号</th>
						<th>交易金额</th>
						<th>手续费</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="t in tradeRecords.list">
						<td>{{t.trade_number}}</td>
						<td>{{t.tradedTimeStr}}</td>
						<td>{{t.terminalNumber}}</td>
						<td>{{t.amount/100|currency : "￥"}}</td>
						<td>{{t.poundage/100|currency : "￥"}}</td>
						<td ng-if="t.tradedStatus == 1"><strong class="strong_status">交易成功</strong></td>
						<td ng-if="t.tradedStatus == 2"><strong class="strong_status">交易失败</strong></td>
						<td ng-if="t.tradedStatus == 3"><strong class="strong_status">交易结果待确认</strong></td>
						<td><a ng-click="letitgo('#/tradeinfo?id=',t.id)"  class="a_btn">查看详情</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num" ng-show="req.totalPage>1">
				<a ng-class="{true:'disabled'}[req.indexPage==1]"  ng-click="req.indexPage=1;list()">首页</a>
				<a ng-class="{true:'disabled'}[req.indexPage==1]"  ng-click="prev()">上一页</a>
				<a ng-class="{true:'current'}[req.indexPage==currentPage]" ng-repeat="currentPage in req.pages"  ng-click="loadPage(currentPage)">{{currentPage}}</a>
				<a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]"  ng-click="next()">下一页</a>
				<a ng-class="{true:'disabled'}[req.indexPage==req.totalPage]"  ng-click="req.indexPage=req.totalPage;list()">末页</a>
			</div>
			<div class="p_skip">
				<span>共&nbsp;{{req.totalPage}}&nbsp;页</span>&nbsp;<span>到第&nbsp;<input type="text" ng-model="req.gotoPage">&nbsp;页</span>
				<button ng-click="getPage()">确定</button>
			</div>
		</div>
	</div>
</div>