<script type="text/javascript" src="js/controllers/ordermark.controller.js"></script>
<script src="js/jquery.raty.js"></script>


<div class="main" ng-controller="ordermarkController">
	<div class="box">
    	<div class="breadcrumb">
        	<ul>
            	<li><a href="#/order">订单详情</a></li>
			<li><a href="javascript:void(0)">商品评价</a></li>
            </ul>
        </div>
        <div class="inner"  >
            <div class="eva_box"  ng-repeat="g in  orderInfo.order_goodsList "> 
            	<div class="eva_comm">
                	<div class="td_proBox">
                	<a href="#/shopinfo?goodId={{g.good_id}}" class="cn_img"><img width="130px" height="130px" src="{{g.good_logo}}" /></a>
                        <div class="td_proBox_info">
                        	<h1><a href="#/shopinfo?goodId={{g.good_id}}">{{g.good_name}}</a> </h1>
                           <h3>热销{{g.good_volume_number}}件</h3>
							<ul>
								<li><span>品牌型号：</span>
									<div class="c_text">{{g.good_brand}}</div></li>
								<li><span>支付通道：</span>
									<div class="c_text">{{g.good_channel}}</div></li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="eva_star" >
                	<div class="halfShow_star "  ></div>
                <!-- 	<input type="hidden" value="" id="com_score" ng-model="score" name="score">
					<input type="hidden" value="" id="com_good_id" ng-model="goodid" name="goodid"> -->
					<div class="gradeText"> 
						<textarea name="content"  ng-model="content" cols="" rows=""></textarea>
					</div>
					<script type="text/javascript">
						<!--
						$.fn.raty.defaults.path = 'images';
						$('.halfShow_star').raty({});
						//-->
						</script>
                </div>


            </div>

            <div class="eva_btn"><button class="orangeBtn" ng-click="saveContent()">提交评价</button></div>
        </div>
    </div>
   
</div>
	