<script type="text/javascript" src="js/controllers/ordermark.controller.js"></script>
<script src="js/jquery.raty.js"></script>
<div class="main" ng-controller="ordermarkController" class="ng-cloak">
	<div class="box">
    	<div class="breadcrumb">
        	<ul>
            	<li><a href="#/order">订单详情</a></li>
			<li><a href="javascript:void(0)">商品评价</a></li>
            </ul>
        </div>
        <div class="inner"  >
             <input type="hidden" id="goods_size" value="{{orderInfo.order_goods_size}}" >
            <div class="eva_box"  ng-repeat="g in  orderInfo.order_goodsList "> 
            	<div class="eva_comm">
                	<div class="td_proBox">
                	<a href="#/shopinfo?goodId={{g.good_id}}" class="cn_img"><img width="130px" height="130px" src="{{g.good_logo}}" /></a>
                        <div class="td_proBox_info">
                        	<h1><a href="#/shopinfo?goodId={{g.good_id}}">{{g.good_name}}</a> </h1>
                           <h3>热销{{g.good_volume_number}}件</h3>
							<ul>
								<li><span>品牌型号：</span>
									<div class="c_text">{{g.good_brand}}</div></li>
								<li><span>支付通道：</span>
									<div class="c_text">{{g.good_channel}}</div></li>
							</ul>
                        </div>
                    </div>
                </div>
                <div class="eva_star" >
                	<div class="halfShow_star "  ></div>
                	<input type="hidden" id="index" value="{{$index}}" >
                	<input type="hidden" id="score_{{$index}}"  >
					<input type="hidden" id="goodid_{{$index}}"  value="{{g.good_id}}" >
					<div class="gradeText"> 
						<textarea   id="content_{{$index}}"   cols="" rows="" style="margin: 0px; height: 116px; width: 504px;"></textarea>
					</div>
					
                </div>

			<script type="text/javascript">
						$.fn.raty.defaults.path = 'images';
			        	var v = $("#isOk").val();
					 	if(v=="1"){
					 		$('.halfShow_star').raty({ 
					    		hints: ['', '2', '3', '4', '5'],
					    		score: 3 ,
					    		click: function (score, evt) {
					    			var i = $("#index").val();
					    			  $("#score_"+i).val(score);
					    		   }
					    		});
					 	}
						</script>
            </div>

            <div class="eva_btn"><button class="orangeBtn" ng-click="saveContent()">提交评价</button></div>
        </div>
    </div>
   <input type="hidden"   value="" id="isOk">
</div>
	