<script type="text/javascript" src="js/controllers/order.controller.js"></script>
<div class="right" ng-controller="orderController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#">我的订单</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>订单列表</h1>
		</div>
		<div class="seenBox clear">
			<ul>
				<li><div class="user_search">
						<input name="search" type="text" ng-model="search"/>
						<button ng-click="submitSearch()"></button>
					</div></li>
				<li><div class="user_select">
						<label>状态筛选</label>
						 <select name="q" ng-model="screen" ng-change="submitScreen()">
							<option value="">请选择</option>
							<option value="1">已付款</option>
							<option value="0">未付款</option>
							<option value="2">已付定金</option>
						</select>
					</div></li>
			</ul>
		</div>
		<div class="uesr_table">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
				<colgroup>
					<col width="300" />
					<col width="80" />
					<col width="60" />
					<col width="80" />
					<col width="80" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th>商品</th>
						<th>单价</th>
						<th>数量</th>
						<th>总金额</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody ng-repeat="o in list">
					<tr class="order_hd">
						<td colspan="6"><span>订单号 {{o.order_number}}</span><span>{{o.order_createTime}}</span> 
						<span ng-if="o.order_type==1">类型：用户订购</span> 
						<span ng-if="o.order_type==2">类型：用户租赁</span></td>
						<span ng-if="o.order_type==3">类型：代理商代购</span></td>
						<span ng-if="o.order_type==4">类型：代理商代租赁</span></td>
						<span ng-if="o.order_type==5">类型：代理商批购 </span></td>
					</tr>
					<tr ng-repeat="g in  o.order_goodsList ">
						<td>
							<div class="td_proBox clear">
								<a href="#/shopinfo?goodId={{g.id}}" class="cn_img"><img width="130px" height="130px" src="{{g.good_logo}}" /></a>
								<div class="td_proBox_info">
									<h1>
										<a href="#/shopinfo?goodId={{g.id}}">{{g.good_name}}</a>
									</h1>
									<h3>热销{{g.good_volume_number}}件</h3>
									<ul>
										<li><span>品牌型号：</span>
											<div class="c_text">{{g.good_brand}}</div></li>
										<li><span>支付通道：</span>
											<div class="c_text">{{g.good_channel}}</div></li>
									</ul>
								</div>
							</div>
						</td>
						<td><strong>{{g.good_price/100 |currency : "￥"}} </strong></td>
						<td>{{g.good_num}}</td>

						<td><strong>{{o.order_totalPrice/100 |currency : "￥"}} </strong></td>

						<td>
							<strong ng-if="o.order_status==1" class="strong_status">未付款</strong>
							<strong ng-if="o.order_status==2" class="strong_status">已付款</strong> 
							<strong ng-if="o.order_status==3" class="strong_status">已发货</strong> 
							<strong ng-if="o.order_status==4" class="strong_status">已评价</strong> 
							<strong ng-if="o.order_status==5" class="strong_status">已取消</strong> 
							<strong ng-if="o.order_status==6" class="strong_status">交易关闭</strong>
						</td>
						<td ng-if="o.order_status==1"><a href="#" class="a_btn">付款</a> <a href="#" class="a_btn">取消</a> <a href="#/orderinfo?orderId={{o.order_id}}" class="a_btn">查看详情</a></td>
						<td ng-if="o.order_status==2"><a href="#/orderinfo?orderId={{o.order_id}}" class="a_btn">查看详情</a></td>
						<td ng-if="o.order_status==3"><a href="#/orderinfo?orderId={{o.order_id}}" class="a_btn">查看详情</a></td>
						<td ng-if="o.order_status==4"><a href="#/orderinfo?orderId={{o.order_id}}" class="a_btn">查看详情</a></td>
						<td ng-if="o.order_status==5"><a href="#/orderinfo?orderId={{o.order_id}}" class="a_btn">查看详情</a></td>
						<td ng-if="o.order_status==6"><a href="#/orderinfo?orderId={{o.order_id}}" class="a_btn">查看详情</a></td>
 					</tr>
					
				</tbody>
				
			</table>
		</div>
		<div class="pageTurn">
			<div class="p_num">
				<a href="#" class="disabled">上一页</a> <a href="#" class="current">1</a> <a href="#?page=2">2</a> <a href="#?page=3">3</a> <a href="#?page=4">4</a> <a href="#?page=5">5</a> ... <a href="#?page=199">199</a> <a href="#?page=200">200</a> <a href="#?page=2">下一页</a>
			</div>
			<div class="p_skip">
				<span>共24页</span> <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页
				</span>
				<button>确定</button>
			</div>
		</div>
	</div>
</div>