<script src="js/jquery.form.min.js"></script>
<script type="text/javascript" src="js/controllers/terminalsOpening.controller.js"></script>
<script type="text/javascript" src="js/dateSelector.js"></script>

 <div class="right" ng-controller="terminalOpenController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#/terminal">我的终端</a></li>
                        <li ng-if="gotoopentype == -2"><a href="#/terminalDetail?terminalId={{terminalId}}">终端详情</a></li>
                        <li><a>开通申请</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>开通申请</h1>
                    </div>
                    <div class="attributes_box">
                    	<h2>终端信息</h2>
                        <div class="attributes_list clear">
                            <ul>
                                <li>品牌型号：{{applyDetails.brandName + applyDetails.model_number}}</li>
                                <li>支付通道：{{applyDetails.channelName}}</li>
                                <li>终端号：{{applyDetails.serial_num}}</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="attributes_box">
                    	<div class="ab_h" ng-if="applyDetails.supportRequirementType == 1">
                    		<a href="javascript:void(0)" class="toPublic hover" ng-click="changGongStatus('1')">对公</a>
                    	</div>
                    	<div class="ab_h" ng-if="applyDetails.supportRequirementType == 2">
                    		<a href="javascript:void(0)" class="toPublic hover" ng-click="changgSiStatus('2')">对私</a>
                    	</div>
                    	<div class="ab_h" ng-if="applyDetails.supportRequirementType == 3">
                    		<a href="javascript:void(0)" class="{{gongClass}}" ng-click="changGongStatus('1')">对公</a>
                    		<a href="javascript:void(0)" class="{{siClass}}" ng-click="changgSiStatus('2')">对私</a>
                    	</div>
                        <div class="ab_b" ng-if="merchantList != null && merchantList != ''">
                        	<dl>
                            	<dt>可选择的常用商户：</dt>
                                <dd>
                                <a href="JavaScript:void(0)"  ng-repeat="man in merchantList" ng-class="{true:'hover'}[$index == _br]" ng-click="angu(man.title,man.id,$index)">{{man.title}}</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                     <div class="attributes_box red">填写资料必须准确真实，任何一项填写错误都会导致资金结算不到帐！</div>
                     <div class="attributes_box">
                     	<h2>基本信息</h2>
                     	<div class="item_list clear">
                     		<ul>
                            <li>
                            	<span class="labelSpan">商户名称：</span>
                                <div class="text">
                                <input name="" id="merchant" type="text" ng-model="merchantNamed" ng-keyup="toworte()"/>
                                <p class="prompt_p" ng-if="status==1">请填写公司全名</p>
                                <p class="prompt_p" ng-if="status==2">请填写申请人姓名</p>
                                </div>
                            </li>
                                <li><span class="labelSpan" id="keyNmae">姓名：</span>
                                	<div class="text">
                                	<input name="valueName" type="text" id="valueName"  value="{{merchant.legal_person_name}}" />
                                	<p class="prompt_p">必须与法人身份证照片相符</p>
                                	</div>
                                </li>
                                <li><span class="labelSpan" id="sexName">性别：</span>
                                	<div class="text">
                                    	<span class="checkboxRadio_span"><input  name="valueSex" type="radio" value="" ng-click="butSex(1)" ng-checked="sex == 1"/> 男</span>
                                        <span class="checkboxRadio_span"><input name="valueSex" type="radio" value="" ng-click="butSex(0)" ng-checked="sex == 0"> 女</span>
                                   		<p class="prompt_p">必须与法人身份证照片相符</p>
                                    </div>
                                  <!--   <div class="text" ng-if="sex == 0">
                                    	<span class="checkboxRadio_span"><input  name="valueSex" type="radio" value="" ng-click="butSex(1)"/> 男</span>
                                        <span class="checkboxRadio_span"><input checked name="valueSex" type="radio" value="" ng-click="butSex(0)"> 女</span>
                                    </div> -->
                                </li>
                                <li><span class="labelSpan" id="priKey">生日：</span>
                                    <div class="text">
                                	<select id="selYear" ng-model="nian">
                                	</select> 
                                	<select id="selMonth" ng-model="yue">
                                	</select>
                                	<select id="selDay" ng-model="day">
                                	</select>
                                	<p class="prompt_p">必须与法人身份证照片相符</p>
							<script type="text/javascript">
								var selYear = window.document
										.getElementById("selYear");
								var selMonth = window.document
										.getElementById("selMonth");
								var selDay = window.document
										.getElementById("selDay");
								// 新建一个DateSelector类的实例，将三个select对象传进去
								new DateSelector(selYear, selMonth, selDay,
										null,null, null);
							</script>
                                    </div>
                                </li>
                                <li><span class="labelSpan" id="cirdKey">身份证：</span>
                                	<div class="text">
                                	<input name="" type="text" id="cirdValue" value="{{merchant.legal_person_card_id}}"/>
                                	<p class="prompt_p">必须与法人身份证照片相符</p>
                                	</div>
                                </li>
                                 <li><span class="labelSpan" id="phoneKey">电话：</span>
                                	<div class="text">
                                	<input name="" type="text" id="phoneValue" value="{{openingInfos.phone}}"/>
                                	<p class="prompt_p">请填写真实有效的电话号码</p>
                                	</div>
                                </li>
                                 <li><span class="labelSpan" id="emailKey">邮箱：</span>
                                	<div class="text"><input name="" type="text" id="emailValue" value="{{openingInfos.email}}"/></div>
                                </li>
                                <li><span class="labelSpan" id="emailKey">地址：</span>
                                	<div class="text">
                                		<select  ng-model="selected" ng-options="s.name for s in cities" ng-click="delectChit()">
		             		 				<option value="">{{addressShen}}</option>
		          						</select>
						 				<select ng-model="req.shiList" ng-options="x.name for x in selected.childrens"  ng-click="delectShi()">
			               					<option value="">{{addressShi}}</option>
			          					</select>
                                     </div>
                                </li>
                                <li><span class="labelSpan" id="channelKey">支付通道：</span>
                                	<div class="text">
                                		<select disabled>
		             		 				<option value="">{{channelName}}</option>
		          						</select>
		          						
						 				<select ng-model="tln.chanTs" ng-options="x.name for x in billings" ng-click="delectChanlTs()" >
			               					<option value="">{{channelTsName}}</option>
			          					</select>
                                	</div>
                                </li>
                                </ul>
                     	</div>
                     </div>
                      <div class="attributes_box">
                      <h2>结算信息</h2>
                      	<div class="item_list clear">
                      		<ul>
                      			<li><span class="labelSpan" id="bankNumKey">结算银行账号：</span>
                                	<div class="text">
                                	<input name="" type="text" id="bankNumValue" value="{{merchant.account_bank_num}}"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                	<p class="prompt_p">必须与提交的银行卡图片一致</p>
                                	</div>
                                </li>
                                <li><span class="labelSpan" id="bankNameKey">结算银行帐户名：</span>
                                	<div class="text">
                                	<input disabled="disabled" name="" type="text" id="bankNameValue" value="{{openingInfos.account_bank_name}}"/>
                                	<p class="prompt_p">必须是结算银行卡持有人的名字，并且与提交的姓名一致</p>
                                	</div>
                                </li>
                                <li><span class="labelSpan" id="bankCodeKey">结算银行名称：</span>
                                	<div class="text">
                                	<input name="" type="text" id="bankCodeValue" ng-model="bankObj.bankName" ng-keyup="bank(1)"/>
                                	<p class="prompt_p">必须与银行开户许可证相符</p>
                                	</div>
                                	<div id="suggestDiv" class="suggest">
				                        <ul>
				                            <li><a href="javascript:void(0)" ng-repeat="res in bankObj.bankCode" ng-click='selectBank(res.no,res.name)'>{{res.name}}</a></li>
				                        </ul>
                    				</div>
                                </li>
                      		</ul>
                      		</div>
                      </div>
                    <div class="attributes_box" ng-repeat="ma in MaterialLevel">
                    	<h2>{{ma.levelTitle}}<em>{{ma.levelDescription}}</em></h2>
                        <div class="item_list clear">
                            <ul>
                                <li ng-if="$index == 0 && status==1"><span class="labelSpan" id="organizationNoKey">组织登记号：</span>
                                	<div class="text">
                                	<input name="" type="text" id="organizationNoValue" value="{{merchant.organization_code_no}}" />
                                	<p class="prompt_p">必须与组织机构代码证相符</p>
                                	</div>
                                </li>
                                <li ng-if="$index == 0 && status==1"><span class="labelSpan" id="registeredNoKey">税务登记号：</span>
                                	<div class="text">
                                	<input name="" type="text" id="registeredNoValue" value="{{merchant.tax_registered_no}}" />
                                	<p class="prompt_p">必须与税务登记证相符</p>
                                	</div>
                                </li>
                                <li class="overflow" ng-repeat="r in result" ng-if="r.info_type == 3 && r.opening_requirements_id == ma.id">
                                <span class="labelSpan" id="key_{{ma.level+'_'+$index}}">{{r.name}}：</span>
                                	<div class="text">
                                	<input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                	<input name="" type="text" ng-keyup="bank(ma.level+'_'+$index)">
                                	</div>
                                    <div class="suggest" id="div_{{ma.level+'_'+$index}}">
                                    	<input name="" type="hidden"  id="value_{{ma.level+'_'+$index}}" value="{{r.value}}">
                                    	<a href="javascript:void(0)" id="but_{{ma.level+'_'+$index}}" ng-repeat="codes in bankCode" ng-click="bankNum('but_'+ma.level+'_'+$index,codes.code,codes.name)">{{codes.name}}</a>
                                    </div>
                                </li>
                                <li ng-repeat="r in result " ng-if="r.info_type == 1 && r.opening_requirements_id == ma.id">
                                <input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                <span id="key_{{ma.level+'_'+$index}}" class="labelSpan">{{r.name}}：</span>
                               	<div class="text">
                                <input id="value_{{ma.level+'_'+$index}}" value="{{r.value}}" name="" type="text"/>
                                </div>
                                </li>
                                <li  ng-repeat="r in result" ng-if="r.info_type == 2 && r.opening_requirements_id == ma.id">
                                <input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                <span class="labelSpan" id="key_{{ma.level+'_'+$index}}">{{r.name}}：</span>
                                <div class="text" >
                                <form method="post" action="api/terminal/upload/tempImage" enctype="multipart/form-data">  
                                	<img src="images/zp.jpg" class="cover" imgPath="{{r.value}}" ng-mouseenter="onmousover()"/>
                                	<a href="javascript:void(0);" class="informImg_a" >
                                    <span ng-if="r.value == null" >上传</span>
                                    <span ng-if="r.value != null" >重新上传</span>
                                    <input name="hidden" type="text" id="value_{{ma.level+'_'+$index}}" value="{{r.value}}"/>
                                    <input  name="img" multiple type="file" onchange="showImage(this)">
                                    </a>
                                      <input type="hidden" id="terid" value="{{applyDetails.id}}"/>
                                </form>
                                </div>
                                </li>
                            </ul>
                            <div class="img_info">
								<img  />
							</div> 
                        </div>
                    </div>
                     <div class="rule_checkbox"><input name="" ng-model="checkbox" ng-click="checkbox = !checkbox" type="checkbox" value="" /> <a>已知晓交易规则</a></div>
                    <div class="btnBottom"><button class="orangeBtn" ng-click="addApply()">保存</button></div>
        	</div>
        	</div>
   <div class="mask" style="display:none;"></div>
   <div class="upImgLoading" style="display:none;">
    	<span><img src="images/loading.gif" /></span>
        <p>图片上传中...</p>
    </div>