<script type="text/javascript" src="js/controllers/terminals.controller.js"></script>
<div class="main_user" ng-controller="terminalController">
    	<div class="box">
            <div class="right">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#">我的终端</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>终端列表</h1>
                    	<div class="userTopBtnBox">
                        	<a href="#" class="ghostBtn addOtherTerminal_a">添加其他终端</a>
                        </div>
                    </div>
                    <div class="seenBox clear">
                    	<ul>
                        	<li><div class="user_search"><input name="" type="text" /><button></button></div></li>
                            <li><div class="user_select">
                            	<label>状态筛选</label>
                            	<select name="">
                            	  <option>已付款</option>
                            	  <option>未付款</option>
                            	  <option>已付定金</option>
                            	</select>
                            </div></li>
                        </ul>
                    </div>
                    <div class="uesr_table">
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
                         <colgroup>
                         	<col />
                            <col />
                            <col />
                            <col width="200" />
                            <col />
                            <col />
                            <col width="150" />
                         </colgroup>
                         <thead>
                          <tr>
                            <th>终端号</th>
                            <th>POS机</th>
                            <th>支付通道</th>
                            <th>商户名称</th>
                            <th>商户电话</th>
                            <th>状态</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="nums in list">
                            <td>{{nums.serial_num}}</td>
                            <td>{{nums.brandsName + nums.model_number}}</td>
                            <td>{{nums.channelName}}</td>
                            <td>{{nums.title}}</td>
                            <td>{{nums.phone}}</td>
                            <td><strong class="strong_status">
                            <span ng-if="nums.status == 2"> 部分开通</span> 
                            <span ng-if="nums.status == 1"> 已开通</span>
                            <span ng-if="nums.status == 3"> 未开通</span>  
                           </strong></td>
                            <td><a href="#/terminalDetail?terminalId={{nums.id}}" class="a_btn">查看详情</a><a href="#" class="a_btn">视频认证</a>
                            <span ng-if="nums.status != 1">
                            <a href="#" class="a_btn">申请开通</a>
                            </span>
                            </td>
                          </tr>
                          </tbody>                          
                        </table>
                    </div>
                    <div class="pageTurn"> 
            	<div class="p_num" ng-show="totalPage>1">
                <!-- <a href="#" class="current">1</a>  -->
                <a ng-class="{true:'disabled'}[indexPage==1]" href="javascript:void(0)" ng-click="indexPage=1;getInfo()">首页</a>
                <a ng-class="{true:'disabled'}[indexPage==1]" href="javascript:void(0);" ng-click="prev()">上一页</a>
                <a ng-class="{true:'current'}[indexPage==page]" ng-repeat="page in pages" href="javascript:void(0);" ng-click="loadPage(page)">{{ page }}</a>
                <a ng-class="{true:'disabled'}[indexPage==totalPage]" href="javascript:void(0);" ng-click="next()">下一页</a>
                <a ng-class="{true:'disabled'}[indexPage==totalPage]" href="javascript:void(0)" ng-click="indexPage=totalPage;getInfo()">末页</a>
                </div>
                <div class="p_skip">
                	 <span>共{{totalPage}}页</span>
                     <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页</span>
                     <button>确定</button>
                </div>
            </div>
            	</div>
        	</div>
    	</div>
    </div>