<script type="text/javascript" src="js/controllers/terminalsOpening.controller.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.form.min.js"></script>
<script type="text/javascript" src="js/dateSelector.js"></script>
 <div class="right" ng-controller="terminalOpenController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#">我的终端</a></li>
                        <li><a href="#">开通申请</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>开通申请</h1>
                    </div>
                    <div class="attributes_box">
                    	<h2>终端信息</h2>
                        <div class="attributes_list clear">
                            <ul>
                                <li>品牌型号：{{applyDetails.brandName + applyDetails.model_number}}</li>
                                <li>支付通道：{{applyDetails.channelName}}</li>
                                <li>终端号：{{applyDetails.serial_num}}</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="attributes_box">
                    	<div class="ab_h"><a href="javascript:void(0)" class="{{gongClass}}" ng-click="changGongStatus('0')">对公</a><a href="javascript:void(0)" class="{{siClass}}" ng-click="changgSiStatus('1')">对私</a></div>
                        <div class="ab_b">
                        	<dl>
                            	<dt>已有商户：</dt>
                                <dd>
                                <a href="JavaScript:void(0)" class="hover" ng-repeat="man in merchantList" ng-click="angu(man.title,man.id)">{{man.title}}</a>
                                </dd>
                            </dl>
                            <dl>
                            	<dt>商户名称：</dt>
                                <dd><input name="" type="text" ng-model="merchantNamed"/></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="attributes_box" ng-repeat="ma in MaterialLevel">
                    	<h2 ng-if="$index == 0">基本开通<em>消费限额5000元</em></h2>
                    	<h2 ng-if="$index == 1">完全开通<em>消费无限额</em></h2>
                        <div class="item_list clear">
                            <ul>
                                <li ng-if="$index == 0"><span class="labelSpan" id="keyNmae">姓名：</span>
                                	<div class="text"><input name="valueName" type="text" id="valueName" value="{{merchant.legal_person_name}}"/></div></li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="sexName">性别：</span>
                                	<div class="text">
                                    	<span class="checkboxRadio_span"><input name="valueSex" type="radio" value="" ng-click="butSex(1)"/> 男</span>
                                        <span class="checkboxRadio_span"><input name="valueSex" type="radio" value="" ng-click="butSex(0)"> 女</span>
                                    </div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="priKey">生日：</span>
                                	<div class="text">
                                	<select id="selYear" ></select> 
                                	<select id="selMonth"></select>
                                	<select id="selDay"></select>
							<script type="text/javascript">
								var selYear = window.document
										.getElementById("selYear");
								var selMonth = window.document
										.getElementById("selMonth");
								var selDay = window.document
										.getElementById("selDay");

								// 新建一个DateSelector类的实例，将三个select对象传进去
								new DateSelector(selYear, selMonth, selDay,
										null, null, null);
							</script>
                                    </div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="cirdKey">身份证：</span>
                                	<div class="text"><input name="" type="text" id="cirdValue" value="{{merchant.legal_person_card_id}}"/></div>
                                </li>
                                 <li ng-if="$index == 0"><span class="labelSpan" id="phoneKey">电话：</span>
                                	<div class="text"><input name="" type="text" id="phoneValue"/></div>
                                </li>
                                 <li ng-if="$index == 0"><span class="labelSpan" id="emailKey">邮箱：</span>
                                	<div class="text"><input name="" type="text" id="emailValue"/></div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="emailKey">地址：</span>
                                	<div class="text">
                                		<select  ng-model="selected" ng-options="s.name for s in city_list" >
		             		 				<option value="">请选择</option>
		          						</select>
						 				<select ng-model="citiesId" ng-options="x.id as x.name for x in selected.childrens"  >
			               					<option value="">请选择</option>
			          					</select>
                                     </div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="channelKey">支付通道：</span>
                                	<div class="text">
                                	<select name="">
                                          <option ng-repeat="chan in channels" ng-click="getChannels(chan.id)">{{chan.name}}</option>
                                    </select>
                                    <select name="">
                                          <option ng-repeat="ts in chanTs" ng-click="getChannelT(ts.id)">{{ts.name}}</option>
                                    </select>
                                	</div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="bankNumKey">结算银行账号：</span>
                                	<div class="text"><input name="" type="text" id="bankNumValue" value="{{merchant.account_bank_num}}" />
                                	</div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="bankNameKey">结算银行名称：</span>
                                	<div class="text"><input name="" type="text" id="bankNameValue"/></div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="bankCodeKey">结算银行代码：</span>
                                	<div class="text"><input name="" type="text" id="bankCodeValue"/></div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="organizationNoKey">组织登记号：</span>
                                	<div class="text"><input name="" type="text" id="organizationNoValue" value="{{merchant.organization_code_no}}" /></div>
                                </li>
                                <li ng-if="$index == 0"><span class="labelSpan" id="registeredNoKey">税务登记号：</span>
                                	<div class="text"><input name="" type="text" id="registeredNoValue" value="{{merchant.tax_registered_no}}" /></div>
                                </li>
                                <li class="overflow" ng-repeat="r in result" ng-if="r.info_type == 3 && r.opening_requirements_id == ma.id">
                                <span class="labelSpan" id="key_{{ma.level+'_'+$index}}">{{r.name}}：</span>
                                	<div class="text">
                                	<input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                	<input name="" type="text" ng-keyup="bank()">
                                	</div>
                                    <div class="suggest" id="backapen">
                                    	<input name="" type="hidden"  id="value_{{ma.level+'_'+$index}}" >
                                    	<a href="javascript:void(0)" id="but_{{ma.level+'_'+$index}}" ng-repeat="code in bankCode" ng-click="bankNum('but_'+ma.level+'_'+$index,code)">{{code}}</a>
                                    </div>
                                </li>
                                <li ng-repeat="r in result" ng-if="r.info_type == 1 && r.opening_requirements_id == ma.id">
                                <input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                <span id="key_{{ma.level+'_'+$index}}" class="labelSpan">{{r.name}}:</span>
                                <div class="text"><input id="value_{{ma.level+'_'+$index}}" name="" type="text"/></div>
                                </li>
                                <li  ng-repeat="r in result" ng-if="r.info_type == 2 && r.opening_requirements_id == ma.id">
                                <input type="hidden" id="id_{{ma.level+'_'+$index}}" value="{{r.id}}"/>
                                <span class="labelSpan" id="key_{{ma.level+'_'+$index}}">{{r.name}}:</span>
                                <div class="text" >
                                <form method="post" action="api/comment/upload/tempImage" enctype="multipart/form-data">  
                                	<img src="images/zp.jpg" class="cover" />
                                	<a href="javascript:void(0);" class="informImg_a" >
                                    <span>上传</span>
                                    <input type="text" id="value_{{ma.level+'_'+$index}}"/>
                                    <input  name="img" multiple type="file" onchange="showImage(this)">
                                    </a>
                                </form>
                                </div>
                                </li>
                            </ul>
                            <div class="img_info"><img src="images/ewm.jpg" /></div>
                        </div>
                    </div>
                    <div class="btnBottom"><button class="orangeBtn" ng-click="addApply()">保存</button></div>
        	</div>
        	</div>