<script type="text/javascript" src="js/controllers/terminalsRentalReturn.controller.js"></script>
<script src="js/jquery.form.min.js"></script>
<div class="right" ng-controller="terminalRentalReturnController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#/terminal">我的终端</a></li>
                        <li><a>租赁退还申请</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>租赁退还申请</h1>
                    </div>
                    <div class="attributes_box">
                    	<h2>终端信息</h2>
                        <div class="attributes_list clear">
                            <ul>
                                <li>品牌型号：{{applyDetails.brandName + applyDetails.model_number}}</li>
                                <li>支付通道：{{applyDetails.channelName}}</li>
                                <li>终端号：{{applyDetails.serial_num}}</li>
                                <li>商户名称：{{applyDetails.title}}</li>
                                <li>商户电话：{{applyDetails.phone}}</li>
                                <li>租赁日期：{{tenancy.created_at}}</li>
                                <li ng-if="tenancy.lease_time > 0">最短租赁时间：{{tenancy.lease_time}}个月</li>
                                <li ng-if="tenancy.lease_time <= 0">最短租赁时间：0个月</li>
                                <li ng-if="tenancy.return_time > 0">最长租赁时间：{{tenancy.return_time}}个月</li>
                                <li ng-if="tenancy.return_time <= 0">最长租赁时间：0个月</li>
                                <li>租赁押金：<strong>￥{{(tenancy.lease_deposit/100) | number:2}}</strong></li>
                                <li ng-if="tenancy.createdDay > 0">租赁时长：{{tenancy.createdDay}}天</li>
                                <li ng-if="tenancy.createdDay <= 0">租赁时长：0天</li>
                                <li ng-if="(tenancy.createdDay/30 | number:0)<tenancy.lease_time">租金：<strong>￥{{tenancy.lease_price/100*tenancy.lease_time | number:2}}</strong></li>
                                <li ng-if="(tenancy.createdDay/30 | number:0)>tenancy.lease_time">租金：
                                <strong ng-if="(tenancy.createdDay/30)>(tenancy.createdDay/30 | number:0)">￥{{(tenancy.lease_price/100*(tenancy.createdDay/30+1 | number:0) | number:2)}}</strong>
                                <strong ng-if="(tenancy.createdDay/30)==(tenancy.createdDay/30 | number:0)">￥{{(tenancy.lease_price/100*(tenancy.createdDay/30 | number:0) | number:2)}}</strong>
                                </li>
                            </ul>
                        </div> 
                    </div>
                    <div class="attributes_box">
                    	<h2>租赁退还信息</h2>
                         <div class="ab_b">
                            <dl>
                            	<dt>联系人：</dt>
                                <dd><input name="" type="text" ng-model="username"/></dd>
                            </dl>
                            <dl>
                            	<dt>联系电话：</dt>
                                <dd><input name="" type="text" ng-model="phone"/></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="attributes_box" ng-if="ReModel != null && ReModel !=''">
                    	<h2>更新申请资料</h2>
                        <div class="applyFor_list clear">
                        <input type="hidden" id="modelStatus" value="0"/>
                           <div class="af_con" ng-repeat="re in ReModel">
                            	<div class="af_con_n">{{re.title}}<a href="{{re.templet_file_path}}" target="_blank" class="a_btn">下载模版</a></div>
                                <div class="af_con_b">
                                   <form method="post" action="api/terminal/upload/tempRentalFile" enctype="multipart/form-data">  
                                	<i></i>
                                	<a href="javascript:void(0);" class="informImg_a" >
                                    <span>上传</span>
                                    <input type="text" id="up_{{$index}}"/>
                                    <input  name="updatefile" multiple type="file" onchange="setSpanName(this)">
                                    </a>
                                </form>
                                </div>
                                 <input type="hidden" id="upId_{{$index}}" value="{{re.id}}"/>
                           </div>
                           <input type="hidden" id="terid" value="{{applyDetails.id}}"/>
                        </div>
                    </div>
                   <div class="btnBottom"><button class="orangeBtn" ng-click="subRentalReturn()">提交申请</button></div>
            	</div>
        	</div>