<script type="text/javascript" src="js/controllers/terminalsCancellation.controller.js"></script>
<script src="js/jquery.form.min.js"></script>
<div class="right" ng-controller="terminalCancellationController">
            	<div class="breadcrumb">
                    <ul>
                        <li><a href="#">我的终端</a></li>
                        <li><a href="#">申请注销</a></li>
                    </ul>
                </div>
                <div class="content clear">
                    <div class="user_title">
                    	<h1>申请注销</h1>
                    </div>
                    <div class="attributes_box">
                    	<h2>终端信息</h2>
                        <div class="attributes_list clear">
                            <ul>
                                <li>品牌型号：{{applyDetails.brandName + applyDetails.model_number}}</li>
                                <li>支付通道：{{applyDetails.channelName}}</li>
                                <li>终端号：{{applyDetails.serial_num}}</li>
                                <li>商户名称：{{applyDetails.title}}</li>
                                <li>商户电话：{{applyDetails.phone}}</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="attributes_box">
                    	<h2>注销申请资料</h2>
                        <div class="applyFor_list clear" ng-repeat="re in ReModel">
                           <div class="af_con">
                            	<div class="af_con_n">{{re.title}}<a href="{{re.templet_file_path}}" class="a_btn">下载模版</a></div>
                                <div class="af_con_b">
                                 <form method="post" action="api/comment/upload/tempImage" enctype="multipart/form-data">  
                                	<i></i>
                                	<a href="javascript:void(0);" class="informImg_a">
                                        <span>上传</span>
                                        <input type="text" id="up_{{$index}}"/>
                                        <input name="img" multiple type="file" onchange="setSpanName(this)">
                                    </a>
                                    </form>
                                </div>
                           </div>
                           <input type="hidden" id="upId_{{$index}}" value="{{re.id}}"/>
                        </div>
                    </div>
                    <div class="btnBottom"><button class="orangeBtn" ng-click="subRentalReturn()">提交申请</button></div>
            	</div>
        	</div>