<script type="text/javascript" src="js/controllers/merchant/merchantUpdate.js"></script>
<link rel="stylesheet" type="text/css" href="style/Huploadify.css"/>
<div class="right" ng-controller="merchantUpdateController">
	<div class="breadcrumb">
		<ul>
			<li><a href="#/merchantList">商户资料</a></li>
			<li><a href="javascript:void(0)">编辑商户资料</a></li>
		</ul>
	</div>
	<div class="content clear">
		<div class="user_title">
			<h1>编辑商户资料</h1>
		</div>
		<div class="attributes_box">
		<form name="addMerchantForm" ng-submit="merchantUpdate()" >
			<div class="item_list clear">
				<ul>
					<li><span class="labelSpan">商户名称：</span>
						<div class="text">
							<input type="text" ng-model="merchant.title"  required>
						</div></li>
					<li><span class="labelSpan">商户法人姓名：</span>
						<div class="text">
							<input type="text" ng-model="merchant.legalPersonName" required>
						</div></li>
					<li><span class="labelSpan">商户法人身份证号码：</span>
						<div class="text">
							<input type="text" ng-model="merchant.legalPersonCardId"  required>
						</div></li>
					<li><span class="labelSpan">开户行名称：</span>
						<div class="text">
							<input type="text" ng-model="merchant.accountBankName"   required>
						</div></li>
					<li><span class="labelSpan">开户行地址：</span>
						<div class="text">
							<input type="text" ng-model="merchant.accountBankAddress" required>
						</div></li>
					<li><span class="labelSpan">银行账号：</span>
						<div class="text">
							<input type="text" ng-model="merchant.accountBankNum"  required>
						</div></li>
					<li><span class="labelSpan">营业执照登记号：</span>
						<div class="text">
							<input type="text" ng-model="merchant.businessLicenseNo"  required>
						</div></li>
					<li><span class="labelSpan">税务登记号：</span>
						<div class="text">
							<input type="text" ng-model="merchant.taxRegisteredNo"  required>
						</div></li>
					<li><span class="labelSpan">组织机构代码证号：</span>
						<div class="text">
							<input type="text" ng-model="merchant.organizationCodeNo"    required>
						</div></li>
					<li><span class="labelSpan">银行开户许可证号：</span>
						<div class="text">
							<input type="text" ng-model="merchant.bankOpenAccount"  required>
						</div></li>
						
						<li><span class="labelSpan">法人身份证照片正面：</span>
						<div class="text" id="cardIdFrontPhotoPath"><img src="images/zp.jpg"  imgPath="{{merchant.cardIdFrontPhotoPath}}"  class="cover" /><span style="float:right" id="cardIdFrontPhotoPath_s"></span>
							<input type="hidden" ng-model="merchant.cardIdFrontPhotoPath">
						</div></li>
						
					<li><span class="labelSpan">法人身份证照片背面：</span>
						<div class="text" id="cardIdBackPhotoPath"> <img src="images/zp.jpg" class="cover"   imgPath="{{merchant.cardIdBackPhotoPath}}"/><span style="float:right" id="cardIdBackPhotoPath_s"></span>
							<input type="hidden" ng-model="merchant.cardIdBackPhotoPath">
						</div></li>
					<li><span class="labelSpan">法人上半身照片：</span>
						<div id="bodyPhotoPath" class="text"><img src="images/zp.jpg" class="cover" imgPath= "{{merchant.bodyPhotoPath}}"/> <span style="float:right" id="bodyPhotoPath_s"></span>
							<input type="hidden" ng-model="merchant.bodyPhotoPath">
						</div></li>
					<li><span class="labelSpan">营业执照照片：</span>
						<div id="licenseNoPicPath" class="text"> <img src="images/zp.jpg" class="cover"  imgPath= "{{merchant.licenseNoPicPath}}"/><span style="float:right" id="licenseNoPicPath_s"></span>
							<input type="hidden" ng-model="merchant.licenseNoPicPath">
						</div></li>
					<li><span class="labelSpan" >税务登记证照片：</span>
						<div id="taxNoPicPath" class="text"><img src="images/zp.jpg" class="cover"  imgPath="{{merchant.taxNoPicPath}}" /> <span style="float:right" id="taxNoPicPath_s"></span>
							<input type="hidden" ng-model="merchant.taxNoPicPath">
						</div></li>
					<li><span class="labelSpan">组织机构代码证照片：</span>
					 <div id="orgCodeNoPicPath" class="text"><img src="images/zp.jpg" class="cover"  imgPath="{{merchant.orgCodeNoPicPath}}" /><span style="float:right" id="orgCodeNoPicPath_s"></span>
							<input type="hidden" ng-model="merchant.orgCodeNoPicPath">
					 </div></li>
					<li><span class="labelSpan">银行开户许可证照片：</span>
						<div id="accountPicPath" class="text"><img src="images/zp.jpg" class="cover"  imgPath="{{merchant.accountPicPath}}" /><span style="float:right" id="accountPicPath_s"></span>
						<input type="hidden" ng-model="merchant.accountPicPath"></div></li>
				</ul>
						<div class="img_info">
					<img  />
				</div> 
			</div>
			<div class="btnBottom">
			<input type="submit"  style="cursor: pointer;"  class="orangeBtn"  value="更新商户"> 
			</div>
			</form>
		</div>
	</div>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.Huploadify.js"></script>
</div>
