<div class="main" ng-controller="payController">
	<div class="box">
    	<div class="breadcrumb">
        	<ul>
                <li><a href="#">选择支付方式</a></li>
            </ul>
        </div>
        <div class="inner">
			<div class="payBox">
            	<div class="pay_info">
                	<p>订单编号：<strong>{{order.order_number}}</strong></p>
					<p>付款金额：<strong>{{order.total_price/100|currency : "￥"}}</strong></p>
					<p>寄送地址：{{order.address}} {{order.receiver}}</p>
					<p>购买商品：<span ng-repeat="one in order.good">{{one.title}} {{one.pcname}}（<strong>{{one.quantity}}件</strong>）</span></p>
                </div>
                <div class="payTitle">选择支付方式</div>
                <div class="payCon">
                	<ul>
                    	<li><input ng-model="payway" type="radio" ng-value="1" /><label><span><img src="images/zfb.jpg" /></span></label></li>
                        <li><input ng-model="payway" type="radio" ng-value="2" /><label><span><img src="images/wy.jpg" /></span></label></li>
                    </ul>
                </div>
                <div class="btnBottom"><button class="orangeBtn goPay" ng-click="pay()">立即支付</button></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/main.js"></script>