<script type="text/javascript" src="js/controllers/shop.controller.js"></script>
<div class="main" ng-controller="shopController">
	<div class="box">
    	<div class="category_group">
        	<div class="crumbs_nav">
            	<ul>
                	<li>您当前选择<i></i></li>
                    <li ng-show="chli1show" class="crumbs_nav_drop" id="chli1"><a href="javascript:void(0)" ng-click="chli1del()" class="hover"><span class="cnd_p">POS机品牌：{{chli1val}}</span><span class="cnd_x"></span></a><i></i></li>
                    <li ng-show="chli2show" class="crumbs_nav_drop" id="chli2"><a href="javascript:void(0)" ng-click="chli2del()" class="hover"><span class="cnd_p">POS机类型：{{chli2val}}</span><span class="cnd_x"></span></a><i></i></li>
                    <li ng-show="chli3show" class="crumbs_nav_drop" id="chli3"><a href="javascript:void(0)" ng-click="chli3del()" class="hover"><span class="cnd_p">支付通道：{{chli3val}}</span><span class="cnd_x"></span></a><i></i></li>
                    <li ng-show="chli4show" class="crumbs_nav_drop" id="chli4"><a href="javascript:void(0)" ng-click="chli4del()" class="hover"><span class="cnd_p">支持卡类型：{{chli4val}}</span><span class="cnd_x"></span></a><i></i></li>
                    <li ng-show="chli5show" class="crumbs_nav_drop" id="chli5"><a href="javascript:void(0)" ng-click="chli5del()" class="hover"><span class="cnd_p">支持交易类型：{{chli5val}}</span><span class="cnd_x"></span></a><i></i></li>
                    <li ng-show="chli6show" class="crumbs_nav_drop" id="chli6"><a href="javascript:void(0)" ng-click="chli6del()" class="hover"><span class="cnd_p">签购单方式：{{chli6val}}</span><span class="cnd_x"></span></a><i></i></li>
                </ul>
            </div>
        	<div class="category_item">
            	<h4>POS机品牌：</h4>
                <a href="javascript:void(0);" class="more">更多<i></i></a>
                <div class="category_item_con">
                	<ul >
                    	<li ng-repeat="one in brands">
                    	  <a href="javascript:void(0)" ng-click="check1(one)" class="{{one.clazz}}">{{one.value}}</a>
                    	</li>
                    </ul>
                </div>
            </div>
            <div class="category_item">
            	<h4>POS机类型：</h4>
                <div class="category_item_con">
                	<ul>
                    	<li ng-repeat="one in category">
                    	  <a href="javascript:void(0)" ng-click="check2(one)" class="{{one.clazz}}">{{one.value}}</a>
                    	</li>
                    </ul>
                </div>
            </div>
            <div class="category_item">
            	<h4>支付通道：</h4>
                <div class="category_item_con">
                	<ul>
                    	<li ng-repeat="one in pay_channel">
                    	  <a href="javascript:void(0)" ng-click="check3(one)" class="{{one.clazz}}">{{one.value}}</a>
                    	</li>
                    </ul>
                </div>
            </div>
            <div class="category_item">
            	<h4>支持卡类型：</h4>
                <div class="category_item_con">
                	<ul>
                    	<li ng-repeat="one in pay_card">
                    	  <a href="javascript:void(0)" ng-click="check4(one)" class="{{one.clazz}}">{{one.value}}</a>
                    	</li>
                    </ul>
                </div>
            </div>
            <div class="category_item">
            	<h4>支持交易类型：</h4>
                <div class="category_item_con">
                	<ul>
                    	<li ng-repeat="one in trade_type">
                    	  <a href="javascript:void(0)" ng-click="check5(one)" class="{{one.clazz}}">{{one.value}}</a>
                    	</li>
                    </ul>
                </div>
            </div>
            <div class="category_item category_item_noBorder">
            	<h4>签购单方式：</h4>
                <div class="category_item_con">
                	<ul>
                    	<li ng-repeat="one in sale_slip">
                    	  <a href="javascript:void(0)" ng-click="check6(one)" class="{{one.clazz}}">{{one.value}}</a>
                    	</li>
                    </ul>
                	
                </div>
            </div>
        </div>
        <div class="sortbar clear">
        	<div class="sortbar_ul">
                <ul>
                    <li class="default_sort hover"><a href="javasrcipt:void(0);" ng-click="order(0)">综合排序</a></li>
                    <li class="on_1"><span>按价格</span>
                        <div class="droplist">
                            <a href="javascript:void(0);" class="dashed" ng-click="order(2)">按价格从高到低</a>
                            <a href="javascript:void(0);" ng-click="order(3)">按价格从低到高</a>
                        </div>
                    </li>
                    <li class="default_sort" title="按销量从高到低"><a href="javascript:void(0);" ng-click="order(1)">按销量</a></li>
                    <li class="default_sort" title="按评价从多到少"><a href="javascript:void(0);" ng-click="order(4)">按评价</a></li>
                </ul>
            </div>
            <div class="accountTime">
            	<label>到账时间</label>
                <div class="selectBox">
                	<i></i>
                	<div class="tag_select"><span>选择到账时间选择到账时间</span></div>
                    <input name="" type="text" value="" class="tag_input">
                    <ul>
                        <li ng-repeat="one in tDate">{{one.value}}<input name="" type="text" value="{{one.id}}"></li>
                	</ul>
               </div>
            </div>
            <div class="price">
            	<label>价格</label>
                <input name="" type="text" placeholder="¥" /> - <input name="" type="text" placeholder="¥" />
            </div>
            <div class="lease"><input name="" type="checkbox" value="" /> 支持租赁</div>
            <div class="sortBtn"><button class="btn">确定</button></div>
            <div class="page_top">
            	<div class="page_info"><span>2</span>/20</div>
                <a href="javascript:void(0);" class="page_prev"><i></i></a>
                <a href="javascript:void(0);" class="page_next"><i></i></a>
            </div>
        </div>
        
        <div class="commodityBox">
        	<table width="100%" cellspacing="0" cellpadding="0" class="b_table">
            <colgroup>
                <col width="640" />
                <col />
                <col />
                <col />
                <col />
             </colgroup>
             <thead>
              <tr>
                <th width="640">商品</th>
                <th>价格</th>
                <th>支持租赁</th>
                <th>销量</th>
                <th>评价</th>
              </tr>
             </thead>
             
             
             
              <tr ng-repeat="one in goodList">
                <td>
                	<div class="td_proBox clear">
                    	<a href="#" class="cn_img"><img src="{{one.url_path}}" /></a>
                        <div class="td_proBox_info">
                        	<h1><a href="#/shopinfo?goodId={{one.id}}" >{{one.Title}}</a></h1>
                            <h3>热销{{one.volume_number}}件</h3>
                            <ul>
                            	<li><span>品牌型号：</span><div class="c_text">{{one.good_brand}}{{one.Model_number}}</div></li>
                                <li><span>支付通道：</span><div class="c_text">{{one.pay_channe}}</div></li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td><a href="#"><strong>{{one.retail_price/100 |currency : "￥"}}</strong></a></td>
                <td><span class="{{one.has_lease?'lease_t':'lease_t no'}}">支持租赁</span></td>
                <td><a href="#">月销量<em>{{one.volume_number }}</em>件</a></td>
                <td>
                	<div class="evaluate">
                    	<a href="#">
                        <ul>
                            <li class="p_li_o"></li>
                            <li class="p_li_o"></li>
                            <li class="p_li_o"></li>
                            <li class="p_li_o"></li>
                            <li class="p_li_o"></li>
                        </ul>
                        </a>
                    </div>
                </td>
              </tr>
            </table>
			<div class="pageTurn"> 
            	<div class="p_num">
                <a href="#" class="disabled">上一页</a> 
                <a href="#" class="current">1</a> 
                <a href="#?page=2">2</a> 
                <a href="#?page=3">3</a> 
                <a href="#?page=4">4</a> 
                <a href="#?page=5">5</a>
                ...
                <a href="#?page=199">199</a> 
                <a href="#?page=200">200</a> 
                <a href="#?page=2">下一页</a> 
                </div>
                <div class="p_skip">
                	 <span>共24页</span>
                     <span>到第&nbsp;&nbsp;<input name="" type="text" />&nbsp;&nbsp;页</span>
                     <button>确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/main.js"></script>