<!DOCTYPE html>
<html ng-app="agentMobileApp">
<meta charset="UTF-8">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="style/join/bootstrap.css">
<link rel="stylesheet" href="style/join/mediasc.css">
<script src="style/join/jquery.min.js"></script>
<script src="style/join/bootstrap.min.js"></script>
<script type="text/javascript" src="style/join/angular.js"></script>
<script type="text/javascript" src="style/join/agentapp.js"></script>
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0,
minimum-scale=1.0, user-scalable=1, width=device-width" />
<title>合作伙伴加盟</title> 
</head>
<body ng-controller="agentapp">
	<div class="container">
		<div class="logo">
			<ul>
				<li style="width: 40%;" class="img_p"><img alt=""
					src="style/join/logo.png"></li>
				<li><label>合作伙伴加盟申请资料</label></li>
			</ul>
		</div>
		<div class="content">
			<table style="width: 100%;">
				<tr>
					<td colspan="3">请选择您的合作伙伴类型:</td>
				</tr>

				<tr id="cks">
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt=""
						src="style/join/radiobtn.png" width="36" height="36"
						style="cursor: pointer;" onclick="ckgou_self(this)" id="_self" />&nbsp;&nbsp;我是个人&nbsp;&nbsp;
						</button>
					</td>
					<td>&nbsp;&nbsp;<img alt="" src="style/join/radiobtn.png"
						width="36" height="36" style="cursor: pointer;"
						onclick="ckgou_comp(this)" id="_comp" />&nbsp;&nbsp;我是公司&nbsp;&nbsp;
						</button></td>
					<td></td>
				</tr>

				<tr style="display: none">
					<td><input value="" id="ckval" /></td>
				</tr>

				<tr>
					<td colspan="3">您的所在地:</td>
				</tr>

				<tr>
					<td colspan="2"><select ng-model="selected" id="p_name"
						ng-options="s.name for s in city_list" class="form-control"
						ng-change="change_city()">
							<option value="">--请选择--</option>
					</select></td>
					<td><label>&nbsp;&nbsp;&nbsp;省</label></td>
				</tr>

				<tr style="height: 10px;"></tr>

				<tr>
					<td colspan="2"><select ng-model="selected_city"
						class="form-control" id="c_name"
						ng-options="x.name for x in selected.childrens">
							<option value="">--请选择--</option>
					</select></td>
					<td><label>&nbsp;&nbsp;&nbsp;市</label></td>
				</tr>

				<tr>
					<td colspan="3">联系人姓名:</td>
				</tr>

				<tr>
					<td colspan="3"><input type="text" class="form-control"
						ng-model="req.touchName" id="touchname" placeholder="联系人姓名" maxlength="10" size="40%"></td>
				</tr>

				<tr>
					<td colspan="3">联系人手机号码:</td>
				</tr>

				<tr>
					<td colspan="3"><input type="text" class="form-control"
						ng-model="req.touchPhone" id="touchphone" placeholder="联系人号码" maxlength="11" size="40%"></td>
				</tr>
				<tr style="height: 10px;"></tr>
				<tr>
					<td colspan="3" style="text-align: center;"><button
							type="button" class="btn btn-info btn-lg" style="width: 60%;"
							ng-click="commitAppData()">提 交 申 请</button></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>