<html ng-app="indexModule">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">

<title></title>

<!--shop.css 商品列表 商品详情页-->
<link href="style/shop.css" rel="stylesheet" type="text/css" />
<!--user.css用户后台页-->
<link href="style/user.css" rel="stylesheet" type="text/css" />
<!--global.css全局公用-->
<link href="style/global.css" rel="stylesheet" type="text/css" />
<link href="style/login.css" rel="stylesheet" type="text/css" />
<link href="style/retrieve.css" rel="stylesheet" type="text/css" />
<script src="js/jQuery-1.11.2.js"></script>



<script src="js/Chart.min.js"></script>
<script src="js/main.js"></script>


<!--放大产品-->
<link href="style/jqzoom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.jqzoom.min.js"></script>
<script type="text/javascript" src="js/pro-show.js"></script>

<script type="text/javascript" src="js/libs/angular.js"></script>
<script type="text/javascript" src="js/libs/angular-route.js"></script>
<script type="text/javascript" src="js/libs/angular-cookies.js"></script>
<script type="text/javascript" src="js/libs/angular-sanitize.js"></script>
<script type="text/javascript" src="js/libs/ng-csv.js"></script>
<script type="text/javascript" src="js/index.js"></script>

<!-- Services -->
<script type="text/javascript" src="js/services/loginService.js"></script>
<!-- Directives -->
<script type="text/javascript" src="js/directives/datepicker.directive.js"></script>
<script type="text/javascript" src="js/directives/fileupload.directive.js"></script>
<!-- Controllers -->
<script type="text/javascript" src="js/controllers/route.controller.js"></script>
<script type="text/javascript" src="js/controllers/head.controller.js"></script>
<script type="text/javascript" src="js/controllers/login.controller.js"></script>

<script type="text/javascript">
//登录
// 切换
$(function(){
	$(".lr_b > div").not(":first").hide();
	$(".lr_h li").unbind("click").bind("click", function(){
		$(this).addClass("hover").siblings().removeClass("hover");
		var index = $(".lr_h li").index( $(this) );
		$(".lr_b > div").eq(index).siblings(".lr_b > div").hide().end().fadeIn(300);
   });
});

//input默认值
function focusBlur(e){
	$(e).focus(function(){
		var thisVal = $(this).val();
		if(thisVal == this.defaultValue){
			$(this).val('');
		}	
	})	
	$(e).blur(function(){
		var thisVal = $(this).val();
		if(thisVal == ''){
			$(this).val(this.defaultValue);
		}	
	})	
}

$(function(){
	focusBlur('.login_area input');//登录
})

</script>

<script type="text/javascript">

//input默认值findpassone
function focusBlur(e){
	$(e).focus(function(){
		var thisVal = $(this).val();
		if(thisVal == this.defaultValue){
			$(this).val('');
		}	
	})	
	$(e).blur(function(){
		var thisVal = $(this).val();
		if(thisVal == ''){
			$(this).val(this.defaultValue);
		}	
	})	
}

$(function(){
	focusBlur('.ret_b input');//登录
})

</script>

<script type="text/javascript">
//input默认值findTwo
function focusBlur(e){
	$(e).focus(function(){
		var thisVal = $(this).val();
		if(thisVal == this.defaultValue){
			$(this).val('');
		}	
	})	
	$(e).blur(function(){
		var thisVal = $(this).val();
		if(thisVal == ''){
			$(this).val(this.defaultValue);
		}	
	})	
}

$(function(){
	focusBlur('.ret_b input');//登录
})

</script>

</head>

<body ng-controller="loginController">
    <div id="login">
	<div class="logo"><img src="images/logo.png" /></div>
    <div class="login" >
    	<div class="login_left">
        	<img src="images/ad.jpg" />
        </div>
        <div class="login_right">
        	<div class="lr_h">
            	<ul>
                	<li class="hover">普通用户</li>
                    <li>代理商</li>
                </ul>
            </div>
            <div class="lr_b">
            	<div class="login_area">
                	<ul>
                    	<li><input name="" type="text" value="ID" class="error" ng-model="username"/>
                        	<p class="red" ng-bind="message"></p>
                        </li>
                        <li><input name="" type="text" value="密码" ng-model="password"/></li>
                        <li><input name="" type="text" value="输入图片校验码" class="l" ng-model="code"/><div class="yzm"><img class="loginRandCodeImg" src="images/yzm.jpg" ng-click="reGetRandCodeImg()"/></div></li>
                    </ul>
                    <div class="forget" >
                    	<span><input name="" type="checkbox" value="" ng-model="RememberPass" /> 忘记密码</span>
                        <a href="javascript:void(0)" ng-click="findPass()">忘记密码？</a>
                    </div>
                    <div class="btn"><button ng-click="login()">登录</button></div>
                </div>
                <div class="login_area">
                	<ul>
                    	<li><input name="" type="text" value="ID" /></li>
                        <li><input name="" type="text" value="密码" /></li>
                        <li><input name="" type="text" value="输入图片校验码" class="l" /><div class="yzm"><img src="images/yzm.jpg" /></div></li>
                    </ul>
                    <div class="forget">
                    	<span><input name="" type="checkbox" value="" /> 忘记密码</span>
                        <a href="#">忘记密码？</a>
                    </div>
                    <div class="btn"><button>登录</button></div>
                </div>
            </div>
        </div>
    </div>
   </div>
   
   <div id="findPassOne">
	<div class="logo"><img src="images/logo.png" /></div>
	<div class="retrieve">
	<div class="ret_h">
    	<ul>
        	<li><a href="#" class="hover">第一步</a></li>
            <li><a href="#">第二步</a></li>
            <li><a href="#">第三步</a></li>
        </ul>
    </div>
    <div class="ret_b">
    	<ul>
            <li><input name="" type="text" value="手机号/邮箱"/></li>
            <li><input name="" type="text" value="手机号/邮箱" ng-model="username"/></li>
            <li><input name="" type="text" value="输入图片校验码" class="l" ng-model="code"/><img class="loginRandCodeImg" src="images/yzm.jpg" ng-click="reGetRandCodeImg()"/></li>
        </ul>
        <div class="btn"><button ng-click="findPassOnes()">下一步</button></div>
    </div>
</div>
   </div>
   
    <div id="findPassTwo">
	<div class="logo"><img src="images/logo.png" /></div>
<div class="retrieve">
	<div class="ret_h" ng-model="hidenum=1">
    	<ul>
        	<li><a href="#">第一步</a></li>
            <li><a href="#" class="hover">第二步</a></li>
            <li><a href="#">第三步</a></li>
        </ul>
    </div>
    <div class="ret_b" ng-controller="findPassService">
    	<ul id="ulPhone">
            <li><input name="" type="text" value="输入图片校验码" class="m" /><button class="send_btn">重新发送验证码（119秒）</button></li>
        </ul>
        <div class="btn" id="updown"><button>下一步</button></div>
        <div class="win" id="emailtext">已向你的邮箱 XXX@XXX.com 发送了密码重置邮件，请登录邮箱重置密码！</div>
    </div>
</div>
   </div>



    <div id="index"  >
	<div class="topInfo clear">
		<div class="box">
			<div class="top_kf">
				<ul>
					<li><strong>400800 5678</strong></li>
					<li><a href="#" class="kf_a"><i></i>在线客服</a></li>
				</ul>
			</div>
			<div class="top_user">
				<a href="#">王小小</a><a href="#">退出</a><a href="#">掌富APP</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>

    <div ng-controller="headController">
		<div class="head clear">
			<div class="box">
				<div class="logo">华尔街金融</div>
				<div class="search">
					<div class="search_box">
						<input name="" type="text" value="请输入POS机信息" />
						<button ng-click="searchShop()">搜索</button>
					</div>
					<div class="hotwords">
						<a href="#">掌付</a><a href="#">拉卡拉</a><a href="#">支付天下</a>
					</div>
				</div>
				<div class="phone">
					<img src="images/dh.png" />
				</div>
				<div class="shoppingCart">
					<div class="sCart_h">
						<i></i><em></em><span>{{shopcount}}</span>
					</div>
					<div class="sCart_b" ng-if="shopcount>0">您购物车中有<strong>{{shopcount}}</strong>件商品，<a href="#/shopcart">去 付款</a></div>
					<div class="sCart_b" ng-if="shopcount==0">购物车暂无商品</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main_user">
		<div class="box">
			<div class="left" id="leftRoute">
				<ul>
					<li><a href="#/h1">我的掌富</a></li>
					<li><a href="#/order">我的订单</a></li>
					<li><a href="#/h3">我的终端</a></li>
					<li class="second"><a href="javascript:void(0);" class="hover">售后记录<i class="off"></i></a>
						<ol>
							<li><a href="#">注销记录</a></li>
							<li><a href="#">退货记录</a></li>
							<li><a href="#">换货记录</a></li>
							<li><a href="#">维修记录</a></li>
							<li><a href="#" class="hover">更新资料记录</a></li>
							<li><a href="#">租赁退还记录</a></li>
						</ol></li>
					<li><a href="#">交易流水</a></li>
					<li><a href="#">我的信息</a></li>
					<li><a href="#">商户资料</a></li>
					<li><a href="#">查看消息</a></li>
				</ul>
			</div>
			<div ng-view></div>
		</div>
	</div>
	</div>
	
	
	<div class="foot">
		<div class="box">
			<ul class="foot_nav">
				<li><a href="#">关于我们</a></li>
				<li>/</li>
				<li><a href="#">企业文化</a></li>
				<li>/</li>
				<li><a href="#">帮助中心</a></li>
				<li>/</li>
				<li><a href="#">企业招聘</a></li>
			</ul>
			<div class="copyright">版权所有 &copy; 2011-2014 上海掌富网络技术有限公司（备案号 1236548）</div>
		</div>
	</div>

</body>
</html>