<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="indexModule" id="ng-app"
	ng-controller="indexController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IEs=edge" />
<meta name="renderer" content="webkit" />

<title>华尔街金融平台</title>
<script>
	/******百度统计代码******/
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "//hm.baidu.com/hm.js?38632c918c9886103d9ce4aee1b286ba";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
		
	})();
//btn_submit
	function SubmitEvent(e){
		var e = e || window.event; 
		if(e.keyCode == 13){ 
		document.getElementById("btn_submit").click(); 
		} 
   }
</script>

<!--shop.css 商品列表 商品详情页-->
<link href="style/shop.css" rel="stylesheet" type="text/css" />
<!--user.css用户后台页-->
<link href="style/user.css" rel="stylesheet" type="text/css" />
<!--global.css全局公用-->
<link href="style/global.css" rel="stylesheet" type="text/css" />
<!-- 日历控件 -->
<link href="style/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="js/jQuery-1.11.2.js"></script>
<script src="js/main.js"></script>
<script src="js/Chart.min.js"></script>
<script type="text/javascript" src="js/unslider.js"></script>


<!--放大产品-->
<link href="style/jqzoom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.jqzoom.min.js"></script>
<script type="text/javascript" src="js/pro-show.js"></script>

<script type="text/javascript" src="js/libs/angular.js"></script>
<script type="text/javascript" src="js/libs/angular-route.js"></script>
<script type="text/javascript" src="js/libs/angular-cookies.js"></script>
<script type="text/javascript" src="js/libs/angular-sanitize.js"></script>
<script type="text/javascript" src="js/libs/ng-csv.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<!-- 系统分页 -->
<script type="text/javascript" src="js/page.js"></script>
<!-- 日历控件 -->
<script type="text/javascript" src="js/jquery-ui.js"></script>
<!-- Services -->
<script type="text/javascript" src="js/services/loginService.js"></script>
<!-- Directives -->
<script type="text/javascript"
	src="js/directives/datepicker.directive.js"></script>
<script type="text/javascript"
	src="js/directives/fileupload.directive.js"></script>
<!-- Controllers -->
<script type="text/javascript" src="js/controllers/route.controller.js"></script>
<script type="text/javascript" src="js/controllers/shop.controller.js"></script>
<script type="text/javascript" src="js/controllers/login.controller.js"></script>
<script type="text/javascript" src="js/controllers/pay.controller.js"></script>
<script type="text/javascript"	src="js/controllers/mainindex.controller.js"></script>
<script type="text/javascript" src="js/jquery.Huploadify.js"></script>
<script type="text/javascript"	src="js/left.js"></script>
<!--[if lte IE 8]>
<script type="text/javascript"	src="js/left.js"></script>
<![endif]-->
</head>
<body>
	<div class="topInfo clear" >
		<div class="box" ng-controller="headerController">
			<div class="address">
				<div class="addr_h">
					<span id="city_name" ng-bind="city_name" ><strong>{{city_name}}</strong></span><i
						class="down"></i>
				</div>
				<div class="addr_b">
					<ul>
						<li><label>省</label> <select ng-model="selected"
							ng-options="s.name for s in city_list">
								<option value="">请选择</option>
						</select></li>
						<li><label>市</label> <select ng-model="selected_city"
							ng-options="x.name for x in selected.childrens">
								<option value="">请选择</option>
						</select></li>
						<li><button class="addr_btn" ng-click="submit_city()">确定</button></li>
					</ul>
				</div>
			</div>
			<div class="topNav">
				<a href="#">首页</a> <a href="#/shop">选购POS机</a> <a href="#/userdown">APP下载</a>
				<!-- <a href="#">入驻机构</a>
				<a href="#/userdown">APP下载</a>
				<a href="#">查看交易流水</a> 
				<a href="#">POS机构认证</a>
				<a href="#">打造精致小店</a> -->
			</div>
			<div class="loginInfo" ng-if="!loginshow">
				<a href="#/login">登录</a> <a href="#/register">注册</a> <a ng-click="gotoagentlogin1()">合作伙伴入口</a>
			</div>
			<div class="loginInfo" ng-if="loginshow">
				<span>{{loginUserName}}</span><a href="#/myapp">我的掌富</a><a href="javascript:void(0)"
					ng-click="escLogin()">退出</a><a ng-click="gotoagentlogin1()">合作伙伴入口</a>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	

	<div id="head_index" class="head head_index clear"  ng-show="shopcart1">
		<div class="box" ng-controller="searchController" >
			<div class="logo" style="cursor: pointer" ng-click="index()">华尔街金融</div>
			<div class="search">
				<div class="search_box">
					<input ng-model="haha" type="text" placeholder="请输入pos机信息" ng-change="change()" ng-keyup="enterchange($event)"/>
					<button ng-click="searchShop()">搜索</button>
				</div>
				<div class="hotwords">
					<div class="hotwords">
						<a ng-click="hotwords('ZF300')">ZF300</a><a ng-click="hotwords('华智融')">华智融</a><a ng-click="hotwords('信雅达')">信雅达</a>
					</div>
					<div class="suggest_container">
		            	<a id="qw{{$index+1}}" ng-repeat="one in searchvalues" ng-click="hotwords(one)" >{{one}}</a>
		            </div>
				</div>
			</div>
			<div class="phone" ng-show="shopcart2">
				<img src="images/dh.png" />
			</div>
			<div class="shoppingCart" ng-show="shopcart2">
				<div class="sCart_h">
					<i></i><em></em><span>{{shopcount>0?shopcount:""}}</span>
				</div>
				<div class="sCart_b" ng-if="shopcount>0">
					您购物车中有<strong>{{shopcount}}</strong>件商品，<a href="#/shopcart">去付款</a>
				</div>
				<div class="sCart_b" ng-if="shopcount==0">购物车暂无商品，<a href="#/shop">去购买</a></div>
			</div>
		</div>
		<script type="text/javascript" src="js/main.js"></script>
	</div>

	<div ng-if="ngshow2" class="main_user">
		<div class="box">
			<div class="left">
				<ul id="left_common">
					<li><a href="#/myapp">我的掌富</a></li>
					<li><a href="#/order">我的订单</a></li>
					<li><a href="#/terminal">我的终端</a></li>
					<li class="second"><a href="javascript:void(0);">售后记录<i
							class="off"></i></a>
						<ol>
							<li><a href="#/cs_cencel">注销记录</a></li>
							<li><a href="#/cs_return">退货记录</a></li>
							<li><a href="#/cs_change">换货记录</a></li>
							<li><a href="#/cs_repair">维修记录</a></li>
							<li><a href="#/cs_update">更新资料记录</a></li>
							<li><a href="#/cs_lease">租赁退还记录</a></li>
						</ol></li>
					<li><a href="#/traderecord">交易流水</a></li>
					<li><a href="#/myinfobase">我的信息</a></li>
					<li><a href="#/merchantList">商户资料</a></li>
					<li><a href="#/message">查看消息</a></li>
				</ul>
			</div>
			<div ng-view></div>
		<script type="text/javascript"	src="js/left.js"></script>
		</div>
	</div>
	<div ng-view ng-if="ngshow"></div>



<div class="box">
			<div class="serviceContent">
				<dl>
					<dt>
						<a class="sc01"><i></i>厂家直销</a>
					</dt>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a class="sc02"><i></i>直连机构</a>
					</dt>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a class="sc03"><i></i>在线入网</a>
					</dt>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a class="sc04"><i></i>标准费率</a>
					</dt>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
				</dl>
				<dl>
					<dt>
						<a class="sc05"><i></i>保障售后</a>
					</dt>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
					<dd>
						<a>指引的超连接</a>
					</dd>
				</dl>
				<div class="ewm">
					<img src="images/ewm.jpg" />
				</div>
			</div>
		</div>
	<div class="foot">
		<div class="box">
			<ul class="foot_nav">
				<li><a href="static/about.html">关于我们</a></li>     
        		<li>/</li>
				<li><a href="static/contact.html">联系我们</a></li>
				<li>/</li>
				<li><a href="help/problems.html">帮助中心</a></li>
				<li style="display: none;">/</li>
				<li style="display: none;"><a href="static/invite.html">企业招聘</a></li>
			</ul>
			<div class="copyright">
				版权所有 <span>&COPY</span>  2011-2015 上海掌富网络技术有限公司（<a
					ng-click="letitgo('http://www.miitbeian.gov.cn/',0)">沪ICP备 12002389号-4</a>）
			</div>
		</div>
	</div>

	<div class="mask" style="height: 1229px;"></div>

</body>
</html>
